[2021-10-28 18:04] #973 closed, assigned to dannon

[2021-10-28 20:36] NickSto opened #984 "Table on "first 10,000 pubs" page overlaps table of contents."
https://galaxyproject.org/blog/2020-08-10k-pubs/

As noted by @mschatz.

[2021-10-28 21:54] #984 closed, assigned to nobody

[2021-10-28 21:55] #755 closed, assigned to NickSto

[2021-10-31 08:00] millen2223 commented on #745
@NickSto  thank you for positive feedback!

[2021-11-03 16:02] NickSto opened #1003 "Characters getting escaped in Markdown text"
Certain characters, most notably ampersands, get escaped whenever they appear in a Markdown file.

That means that `Q&A` always appears as "Q\\&A", which is quite annoying.

This has the same root cause as #979: `Q&A` gets transformed into `Q\&A` by `remark-stringify` in the preprocessor, but this is valid Markdown which should display the same. But Gridsome's old version of remark then displays i

[2021-11-03 16:08] NickSto opened #1004 "Get Gridsome to use a newer version of remark"
Gridsome is stuck on old versions of all the remark packages. `@gridsome/transformer-remark` uses `remark-parse` version 6.0.3 and `remark-html` version 8.0.0. And with the lack of Gridsome releases this year, it's time to see if there are other ways to address this.

This is the root cause of issues like #979 and #1003. If we were able to somehow get it to use newer versions of these packages, it

[2021-11-03 20:28] dannon commented on #1004
@NickSto Have you looked into whether or not there are backwards compatibility issues with the new versions?  If not, I can try just pinning them to the latest.

[2021-11-03 23:19] NickSto commented on #1004
Oh I didn't know we could (or should) force a different version on a dependency of a dependency! Yeah then we could maybe define a bunch of tests and try it out?

[2021-11-04 00:03] dannon commented on #1004
Yep, we can totally do that.  I don't know if we *should*, hence the question about compatibility over version jumps ;)  I'll set up a branch showing how this could work.

[2021-11-04 20:20] NickSto commented on #1004
Looking into this more, I haven't been able to reproduce the escaping issues with the old versions of remark. I expect I'm not replicating Gridsome's specific remark configuration, since I can't imagine where else an incorrect serialization issue could be coming from.

The test I performed involved installing Gridsome's versions of these package in a separate project:
- unified: 7.1.0
- remark-htm

[2021-11-04 22:02] NickSto opened #1005 "Strikethrough is broken"
Many pages use `~~strikethrough~~` Markdown syntax, which is an extension to the CommonMark standard we use. This means it doesn't render, and so can be particularly misleading if a reader misinterprets it (as, for instance, [emphasis](https://whatis.techtarget.com/feature/The-irony-of-using-quotation-marks-for-emphasis)).

So we should either add support or just replace all instances with `<del><

[2021-11-05 20:26] NickSto commented on #1005
Update: Here's the grep:
[code]

[2021-11-05 22:43] #1005 closed

[2021-11-09 21:53] NickSto opened #1014 "How to deal with static images/media?"
## Where do we put static images?
There can only be one static directory for the whole site. We could divide it at the top level into subsites, so that what's currently in `static/images/` will be in `static/us/images`.

## How do we refer to images in Markdown?
If we divide the static directory into subsites, then all existing links to images will break.

[2021-11-12 18:40] NickSto commented on #758
Reopening this as I've seen this continuing to happen in a few places.

[2021-11-12 20:41] NickSto commented on #758
Looks like the culprit may have been the use of `<p>` tags to insert Markdown content:
[code]
If the Markdown contains a `<div>` (like in `content/events/gcc2013/header.md`), that results in a `<div>` inside a `<p>`, which is [invalid](https://stackoverflow.com/questions/10763780/putting-div-inside-p-is-adding-an-extra-p/10763952#10763952).

Hopefully #1022 fixes this for good.

[2021-11-12 20:41] #758 closed

[2021-11-12 21:39] NickSto opened #1023 "Navigation not working from /events/gcc2013/ when visited directly"
I suspect this is related to the infamous #758.

# Steps to reproduce

1. Visit https://galaxyproject.org/events/gcc2013/ directly
    (paste it in the url bar and hit enter or open the link in a new tab)
2. Click on any internal navigation link in the Markdown content
    (like a linkbox link)

# Expected result

The page changes to the clicked link.

# Actual result

The page url and title chang

[2021-11-12 22:52] dannon commented on #1023
Copying from chat to log it here:

One possible issue (using gcc2013/program as the test case) is:

[code]

resolves to:

![image](https://user-images.githubusercontent.com/155398/141580868-7de58dc4-dce3-4578-9146-598cc1c6bb20.png)

Which has a `div` inside the `p` tag.

[2021-11-12 23:40] NickSto commented on #1023
Note: that `<div>` was generated by the preprocessor (`html-img-to-md.mjs`). I should check if that is enough to cause this issue, because that would require quite a rethinking of that preprocessing strategy.

[2021-11-17 20:56] NickSto commented on #1023
Okay so this has proven to be a *very* messy bug. Generally, replacing HTML with Markdown seems to help. But in my experience it's got some Heisenbug-like behavior. I'll test one version of a Markdown file, it'll work, then later I'll re-test what I believe is the same Markdown, and it won't work. *Make sure you do a cacheless reload when testing!*

Some discoveries:
- It seems it can matter *whic

[2021-11-17 22:41] NickSto opened #1033 "Headings can overlap floated elements"
## Problem

Heading elements on content pages normally expand to fill the entire width of their container.

This can be an issue when there's a floating element which moves up and ends up alongside the heading. For example, before fd50bef, the headings on the left of [/events/gcc2013/program/](https://galaxyproject.org/events/gcc2013/program/) overlapped the linkbox on the right, making several of

[2021-11-18 00:58] NickSto commented on #1023
Okay, one major suspect is the HTML in the Inserts used commonly across GCC2013 pages.

After removing all the HTML I could from `content/events/gcc2013/bof/index.md`, it was still broken. But then I tried removing the `<br /><br />` line in `content/events/gcc2013/footer.md` and that change alone fixed it. So this could be tripping up multiple pages:
[code]

Of course, after fixing it I did check

[2021-11-18 01:08] NickSto commented on #1023
After #1035, here is the current state of every GCC2013 page. Like I mentioned above, detecting the bug can be situational sometimes, so these might not all be correct. But I at least tried one internal (within `/events/gcc2013/`) link for each of them:

| page | status |
|--------|----------|
| gcc2013/                            | working    |
| **gcc2013/program**                         | **BR

[2021-11-18 16:56] NickSto opened #1037 "Support special Markdown attribute syntax"
The [.eu hub](/usegalaxy-eu/website) uses a special remark-attr-like syntax on some of its pages. We don't currently support remark-attr or anything like it.

Either we need to support it (ideally) or we'd have to manually convert those pages.

[2021-11-18 17:25] NickSto commented on #1033
#1036 is a new attempt, which instead raises the z-index of the floated elements (all `.float-right`s). This should have fewer side effects.

This sets the z-index to 100. Popup elements' z-index is 1050, so this shouldn't wind up with linkboxes and images on top of popups.

[2021-11-18 19:12] NickSto commented on #1033
Update: Looks like #1036 doesn't take care of all cases.

Example: Page [`/learn/faq/`](https://galaxyproject.org/learn/faq/) contains a linkbox which doesn't have the `float-right` class. Instead, it uses the specialized `linkbox` class, which floats it and does other styling.

[2021-11-18 19:16] dannon commented on #1033
@NickSto Convert those two boxes to linkbox components?

[2021-11-18 19:25] NickSto commented on #1033
Here are all the linkboxes I found which use the `linkbox` class:
[code]
And who knows how many pages use these (since we'd have to edit every page that includes one of them).

We have higher priorities right now, so how about just adding a CSS fix for `.linkbox` elements for now?

We can keep an overall issue for converting linkbox Inserts to components later.

[2021-11-18 19:30] dannon commented on #1033
Sure, #1038 should do it.

[2021-11-19 07:14] #1033 closed

[2021-12-01 01:29] NickSto opened #1051 "Custom styles for SARS-CoV-2 pages"
This issue collects examples of custom styles used in the SARS-CoV-2 project that we might want to support.

- `.custom-block.tip`: See [here](https://covid19.galaxyproject.org/genomics/global_platform/#using-existing-jupyter-notebook).

[2021-12-01 01:34] NickSto opened #1052 "Custom widgets for SARS-CoV-2 pages"
This issue collects examples of custom functional widgets used in the SARS-CoV-2 project that we might want to support.
This is the active counterpart to #1051.

- `<deferredIframe>`: See [here](https://covid19.galaxyproject.org/genomics/global_platform/#figure-3). This just becomes a regular `<iframe>`. Maybe we could just do a simple replace?
- `<embed>`: See [here](https://covid19.galaxyproject

[2021-12-02 20:45] NickSto opened #1057 "Many old headings are inactivated by an immediately preceding `<br />`"
This happens in tons of old pages, like `content/archive/dev-news-briefs/2013-04-01/index.md`:
[code]
The HTML right next to the Markdown causes `# Source` to not be interpreted as Markdown.

These pages are mostly very old, but there's tons of them and a simple codemod pass could fix almost all of them.

[2021-12-02 20:52] NickSto opened #1058 "Bad triple backticks placement in old content"
I've seen this happen in many old pages.

Sometimes the backticks are indented (preceded by whitespace), like in [this page](https://raw.githubusercontent.com/galaxyproject/galaxy-hub/d63d4d7bebe364765a09b72f7d26442886bf5656/content/archive/dev-news-briefs/2013-08-12/index.md) (the `<action type="template_command" language="cheetah">` line).

Other times, the backticks are placed at the end of the

[2021-12-07 22:32] NickSto commented on #1051
**Update**: There's a lot of styles in `.vuepress/theme/styles/`. For instance, `.custom-block` is defined in `.vuepress/theme/styles/custom-blocks.styl`. Should we import whole cloth?

[2021-12-07 22:42] dannon commented on #1051
I would not -- most of that is the ejected vuepress styling.  We should
take the minimal approach and add only the styles we need to the components
we want.  Exact clone isn't important here; we really just need to move
over the content and functional components.

On Tue, Dec 7, 2021 at 5:32 PM Nick Stoler ***@***.***> wrote:

[2021-12-08 15:57] NickSto opened #1064 "Direct links to files outside static directory"
The SARS-CoV-2 site in particular has a lot of these.

For example: `/genomics/no-more-business-as-usual/3-MRCA/` has several links to `acc_date.csv` and `MRCA_Estimation_Notebook.ipynb` (under the current directory).

[2021-12-08 17:45] NickSto opened #1065 "Allow inserting any page with a `<slot>`, not just Inserts."
So you can include any `Insert` content in any page using a `<slot>`, which is a cool system.

But I just realized: why not let authors include any page they want, not just `Insert`s? I think the machinery is basically all there already. At that point it would basically replicate VuePress' [`<Content>` component](https://vuepress.vuejs.org/guide/using-vue.html#content). For a use case, look at the

[2021-12-08 22:43] NickSto commented on #1064
The covid examples above are now fixed.

[2021-12-08 23:15] mariipia10 opened #1072 "Missing mailing list button in the mainpage"
I wanted to see if Galaxy had any mailing list related to news and events but I didn't find them searching in the Galaxy community hub

I've searched within the menues but didn't find it,  but then did so in usegalaxy.org >Help > Mailing list
![image](https://user-images.githubusercontent.com/92181987/145305809-77925c12-3eb1-4951-afba-834cc507e559.png)

I think adding a "Join our mailing list" but

[2021-12-09 19:48] NickSto opened #1075 "Visiting certain urls directly results in broken navigation"
This is the generalized version of #755. We squashed that instance, but this issue keeps popping up on other pages.

To reiterate the bug:

0. Build the site
    - This only happens in the fully built site, not the development server!
1. Visit the url of the problematic page directly.
    - Paste it into the url bar and hit enter or open it in a new tab.
2. Try clicking an internal link to another

[2021-12-09 19:48] NickSto commented on #1075
This is currently happening on https://galaxyproject.org/covid19/

[2021-12-09 19:50] NickSto commented on #1072
If there's consensus, I'll add the same "Mailing Lists" link under the "Community" NavBar dropdown.

[2021-12-13 14:58] hexylena opened #1077 "Redirects don't seem to be working"
https://galaxyproject.org/tutorials/rb-rnaseq/ has a redirect box which is expected but doesn't seem to include the META redirect header and I don't *think* I'm blocking any js?

[2021-12-13 15:01] dannon commented on #1077
Anything in the dev console?  The redirect works for me (though as in the info box, it only kicks off after 5 seconds)

[2021-12-13 15:07] hexylena commented on #1077
:woman_shrugging: it worked the second time, maybe some js failed to fire, who knows.

[2021-12-13 15:07] #1077 closed

[2021-12-13 15:07] hexylena commented on #1077
thanks @dannon !

[2021-12-13 16:57] dannon commented on #1077
@hexylena No worries!

[2021-12-17 19:39] NickSto opened #1090 "Automate public submissions to the Hub"
@beatrizserrano created some nice Google Forms that anyone can use to submit things they want posted on the Hub.

[This form](https://docs.google.com/forms/d/e/1FAIpQLScEFAmCMhrpaV3Z5Ys3L8urlvAz24TVaaUso89ckhYC94qcPg/viewform) lets people suggest an item for the monthly Galaxy Newsletter.

The resulting spreadsheets with submissions can be seen in NickSto/galaxy-private#2 for those with permission

[2021-12-22 12:03] beatrizserrano opened #1099 "List of all published Galactic News"
@erxleben is looking at the past Galactic News, and we can't find a list that gathers all the published ones. Does this exist?

We think that it would be useful to have something similar to this: https://galaxyproject.org/community/devroundtable/
I guess that a new section under Community (https://galaxyproject.org/community/newsletter/) would work. It would be just a filtered version of the News,

[2021-12-22 20:02] beatrizserrano commented on #1099
oh I just discovered this: https://galaxyproject.org/galaxy-updates/

can be that this has been manually updated?

[2021-12-23 10:03] beatrizserrano opened #1100 "Move the admin documentation to a new home"
We need to move everything under https://galaxyproject.org/admin/ to https://docs.galaxyproject.org/en/master/admin/index.html.

@hexylena has kindly volunteered to do this after holidays :) Thank you, Helena!

[2022-01-04 19:47] NickSto commented on #1099
Yeah that page isn't automated right now. I remember mentioning the idea of automating it to Dave but he didn't seem to think it was a high priority?

But it's not Dave's job anymore so if you guys would like an automated page then let's do it.

[2022-01-04 19:52] NickSto opened #1103 "1075 bug on GCC2022 schedule page"
It looks like the #1075 bug on /events/gcc2022/schedule/ is back. #1096 was supposed to fix it (and I assume it did), but it's happening again.

[2022-01-05 08:56] beatrizserrano commented on #1099
Not high priority I think, but something to keep in mind :)

[2022-01-06 17:03] NickSto commented on #785
## Pages that might use Bootstrap stuff
Based on the elements in the tutorials pages above, I'm searching for similar content in the rest of the pages.

### modal vimeo embed in /tutorials/chip/
[code]
[code]

### collapsible sections in /tutorials/nt-rnaseq/
[code]
[code]

[2022-01-06 19:59] NickSto commented on #785
Closed with #1105.

I checked the video embeds I found with the `class=[^>]*embed` search above and they still work fine.

[2022-01-06 19:59] #785 closed

[2022-01-07 17:57] NickSto opened #1107 "Replace "categories" with auto-tagging based on location."
The [categories](/galaxyproject/galaxy-hub#categorizing-your-static-pages) feature was implemented mainly to avoid having to manually add, say, a "news" metadata property to the index.md of every news article. Instead, the system would recognize news articles like we do: based on where they're placed in the filesystem.

But I realized we don't need this additional abstraction. We already have some

[2022-01-07 18:48] NickSto commented on #1107
Oh and this would take away the automatic "← Back to [category index]" links that categorized pages get. But there's a few solutions for that:
1. For pages automatically tagged, add another metadata property like "indexPage" or something.
2. Just remove the back link and let pages add their own manually. It's not very popular anyway.
3. Do some fancier back link that goes one tier up, or a multi-l

[2022-01-11 18:51] beatrizserrano commented on #745
I guess that we can close this issue, since the home page has been updated

[2022-01-11 18:51] #745 closed

[2022-01-11 21:46] dannon commented on #1014
Following up from matrix chat, my thoughts:

Option 3 is preferable as the easiest path forward, and we can pivot to Option 1 if we really need to rewrite significant portions.  Option 2 is very undesirable because it adds even more preprocessing.  We want to remove all the preprocessing we can, not add more.

[2022-01-11 22:37] NickSto opened #1111 "Re-implement all the HTML in _includes directory"
The [_includes](https://github.com/usegalaxy-eu/website/tree/master/_includes) directory contains 55 `.html` files. These will need to be re-implemented.

They would probably fall into several different categories in the Hub architecture:
- Dynamic pages (.vue files)
- Components
- Content (Inserts or other Markdown files)

[2022-01-11 22:53] beatrizserrano commented on #1072
It's now added under "About" so I'll close this, thanks @mariipia10 for pointing this out!

[2022-01-11 22:53] #1072 closed

[2022-01-13 17:18] loraine-gueguen opened #1116 "Page Not Found: https://galaxyproject.org/tutorials/collections/"
The page https://galaxyproject.org/tutorials/collections/ is redirected to https://galaxyproject.org/learn/, but the content is lost, I can't find it anywhere on https://galaxyproject.org. The page was still available last tuesday.

Unfortunately, the tutorial https://training.galaxyproject.org/training-material/topics/galaxy-interface/tutorials/collections/tutorial.html is not suitable for me bec

[2022-01-13 21:07] NickSto opened #1117 "EU features list"
Here's where we can attempt to list all the individual features present on galaxyproject.eu which we may want to re-implement in the unified Hub.

[2022-01-14 09:24] hexylena commented on #1116
Hi @loraine-gueguen, we're in the process of cleaning out some of the very outdated content. If you need to access the old site, I can recommend using wayback machine: https://web.archive.org/web/20210320075157/https://galaxyproject.org/tutorials/collections/ there the tutorial is visible.

I'm surprised you say the gtn is too sequencing oriented, my impression is the tutorials/collections resourc

[2022-01-14 09:57] loraine-gueguen commented on #1116
Hi @hexylena,I was a little upset because the content was gone...
I want to say that the GTN resources are great and very very helpful. In fact, this year I chose to use them (slides and tutorials) as much as possible in the one-day training I'm doing on the introduction to Galaxy. It is a training that is meant to be as agnostic as possible, even if there are some examples with sequence data, bec

[2022-01-14 09:57] #1116 closed

[2022-01-14 11:33] nekrut commented on #1116
@loraine-gueguen -> the collection description was moved to this tutorial -> https://training.galaxyproject.org/training-material/topics/galaxy-interface/tutorials/collections/tutorial.html

[2022-01-18 09:52] hexylena opened #1130 "[wishlist] `redirect_from` in addition to `redirect`"
I wish the hub had support for something like `redirect_from` that we have in the GTN. It functions opposite of how `redirect` does, instead of making a blank page with a `redirect` header (if something got renamed) or keeping the old content and having a `redirect` key, instead the target article lists everywhere that should be redirected there. So e.g. `/learn/` has a lot of stuff pointing to it

[2022-01-18 14:24] nekrut opened #1133 "Front page boxes are not responsive ..."
... on narrow screen

![image](https://user-images.githubusercontent.com/4291636/149955334-c6cc78ae-daf2-48c9-8d4f-76b789ab283c.png)

[2022-01-18 18:55] #1133 closed

[2022-01-18 22:09] NickSto commented on #1037
Manual conversion might be a bit of a lift.

A quick grep shows at least 1,102 instances of it across 289 files:
[code]

[2022-01-18 22:13] NickSto commented on #1117
## Feature
### It provides the middle pane for many Galaxy instances
Each of the `index-*.md` files in the root directory generates a page that's hotlinked from an iframe in a Galaxy instance.

For instance:
`index-rna.md` generates
https://usegalaxy-eu.github.io/index-rna.html, which is the center pane of
https://rna.usegalaxy.eu/

[2022-01-18 22:36] NickSto commented on #1117
## Feature
### Generate pages without the window dressing (NavBar)
There are many pages on the .eu site which are just content - no navbar or other chrome.
It's necessary to, for instance, provide a middle pane for a Galaxy instance.
They also seem to generate other content-only pages for inclusion in Galaxy instances: https://github.com/usegalaxy-eu/website/#duplication

[2022-01-18 23:25] NickSto opened #1138 "Deal with Liquid template syntax and commands in Markdown"
The .eu site uses [Jekyll](https://jekyllrb.com/docs/liquid/tags/), which uses Liquid templates. Apparently even in the Markdown files.

[Here's a page](https://shopify.github.io/liquid/basics/whitespace/) which shows examples of most of the Liquid syntax:
|  | control | variables |
|--|--|--|
| whitespace | `{%` | `{{` |
| no whitespace |`{%-` | `{{-` |

**Note**: It appears spaces can be omitted

[2022-01-18 23:28] NickSto commented on #1117
## Feature
### Automatically inferring date from filename
There are some files with no date in their metadata which still end up with a date presented on the page.
For example: [_posts/2021-02-14-smorgasbord-starts.md](https://raw.githubusercontent.com/usegalaxy-eu/website/master/_posts/2021-02-14-smorgasbord-starts.md) yields https://galaxyproject.eu/posts/2021/02/14/smorgasbord-starts/
I can onl

[2022-01-18 23:29] NickSto commented on #1117
## Feature
### Tweet Wall?
https://github.com/usegalaxy-eu/website/tree/master/tweet-wall

[2022-01-18 23:30] NickSto commented on #1117
## Feature
### Widgets?
https://github.com/usegalaxy-eu/website/tree/master/widgets
https://github.com/usegalaxy-eu/website/blob/master/widgets/index.md

[2022-01-19 13:39] dannon opened #1142 "Image alignment of homepage tiles"
I love the new `Galaxy for` tiles.  The 'Tool Developers' line throws off the midline alignment of all the images, though, since it's two lines.  It'd be nice to align the text by either getting that to one line, or adding structure to the icon part to keep them docked to the bottom of the tile.

![image](https://user-images.githubusercontent.com/155398/150141871-6992f057-65cd-468a-b9ea-d2cbd214f0

[2022-01-19 14:47] beatrizserrano commented on #1142
I tried to do align the text to the top, but didn't know how to align the image to the bottom :( Any ideas on how to change the component to do that?

[2022-01-19 14:57] bwlang commented on #1142
Maybe an easy path… for Tool builders could be one line?

On Jan 19, 2022, at 9:47 AM, Beatriz Serrano-Solano ***@***.******@***.***>> wrote:

EXTERNAL SENDER

I tried to do align the text to the top, but didn't know how to align the image to the bottom :( Any ideas on how to change the component to do that?

—
Reply to this email directly, view it on GitHub<https://nam10.safelinks.protection.outl

[2022-01-20 09:37] hexylena opened #1145 "Feature request: better link-preview descriptions"
Galaxy admin training could use the blurb from the actual page, and it has a cover image which would be more attractive to display. https://galaxyproject.org/events/2022-03-admin-training/

![image](https://user-images.githubusercontent.com/458683/150312550-53a1d4aa-75f5-4d37-bd79-cf9460e2831d.png)

[2022-01-20 22:43] #1142 closed

[2022-01-21 10:11] martenson opened #1151 "Delete cloudlaunch related pages"
Since the service has been sunset (https://galaxyproject.org/blog/2021-10-sunsetting-cloudlaunch/) we should revise the pages on hub that directly describe and encourage using it like https://galaxyproject.org/cloudman/ so we do not present conflicting information.

[2022-01-22 00:08] NickSto commented on #1138
### jekyll-twitter-plugin
In `_config.yml` you can see they use the plugin `jekyll-twitter-plugin`, which looks like it's [this](https://rubygems.org/gems/jekyll-twitter-plugin) (see Github [README](https://github.com/rob-murray/jekyll-twitter-plugin)).
#### `twitter` tag
[code]

[2022-01-22 00:12] NickSto commented on #1138
### jekyll/scholar
Another plugin is [jekyll/scholar](https://www.rubydoc.info/gems/jekyll-scholar/0.4.0), which provides two of the tags they use:

#### `cite` tag
[code]

#### `bibliography` tag
[code]

[2022-01-22 00:17] NickSto commented on #1138
### Built-in tags
The following are [built-in tags](https://jekyllrb.com/docs/liquid/tags/) that come with Jekyll.

#### `link` tag
https://jekyllrb.com/docs/liquid/tags/#links
[code]

#### `include` tag
https://jekyllrb.com/docs/includes/

Some of these are easily translatable to to gridhub's `<slot>` Insert method.
There are a lot of these types:
[code]
But there are also ones that take argument

[2022-01-22 00:18] NickSto commented on #1138
### Built-in Liquid tags
`assign` is part of the [Liquid language](https://shopify.github.io/liquid/tags/variable/) itself.

#### `assign`
It seems the `assign` tag is only used as part of an idiom to split a string into an array in order to pass an array to the `sponsors.html` page:
[code]

[2022-01-22 00:26] NickSto commented on #1117
## Feature
### jekyll-feed plugin
The `_config.yml` shows they have [jekyll-feed](https://github.com/jekyll/jekyll-feed), and indeed there's a [/feed.xml](https://galaxyproject.eu/feed.xml) live on the site.

[2022-01-22 00:55] NickSto opened #1155 "Community Directory"
This is a central issue for all Community Directory ideas.

This was the subject of a GCC 2021 [CoFest project](https://docs.google.com/document/d/1c0L4mc7s2JOx0uq6HGP3QE3V5Za20GfCh1e-KKbOoV4/edit#heading=h.kyj25k8t9axf). [Here](https://docs.google.com/document/d/1EhxgscV6KoMwblBmJCheLRMwftr6G_hdm0KfsfuavGY/edit) are some meeting notes, and [here](https://docs.google.com/presentation/d/1ie2f--DlgO

[2022-01-22 01:00] NickSto opened #1156 "Re-implementing EU people directory"
.eu has a database of people at [_data/people.yml](https://github.com/usegalaxy-eu/website/blob/master/_data/people.yml). From this it generates all the team pages like [/freiburg/people](https://galaxyproject.eu/freiburg/people) and [/erasmusmc/people](https://galaxyproject.eu/erasmusmc/people).

We wanted to do a Community Directory (#1155) anyway, so should we try to start it with this? Or mayb

[2022-01-22 01:38] NickSto commented on #1117
## Feature
### tools.yml
Not sure what it's doing
https://github.com/usegalaxy-eu/website/blob/master/_data/tools.yml

[2022-01-22 01:41] NickSto commented on #1117
## Feature
### Events ical format
The `_events_ical` directory is there to render the list of events in `.ics` format.
It's actually a link to `_events`, meaning all events will be duplicated in ical format.
- The template is `_layouts/event-ical.ics`.
Still not sure what url this ends up at, though.

[2022-01-22 01:45] NickSto opened #1157 "EU Questions"
## Where do the different types of content end up? What paths?
We know what things like `_posts_plain` [do](https://github.com/galaxyproject/galaxy-hub/issues/1117#issuecomment-1015896373), but what urls do they end up at?
### Examples
`galaxy/gxevents.md`, `galaxy/gxnews.md` in each subsite.
The top-level `galaxy/` directory and its `.md` files
- Looks like they render with *-galaxy layouts, just

[2022-01-22 09:01] bgruening commented on #1157
Those are all for the subdomains, afaik. But in practice everyone can reuse those "plain" pages.

[2022-01-22 09:11] bgruening commented on #1117
Posts are usually retrieving the data from the filename. Events on the other side do take the dates from metadata. However, both take the date from the filename to hide posts and events which filename is in the future. This enables us to create events and posts that are only published automatically in the future.
But Nick this does not need to stay like that. If you think the data should be metada

[2022-01-22 09:19] bgruening commented on #1117
Upps, missed that one.
The tools.yml is just a convenience mapping of keys to proper tool-urls. This can be used for example on subdomains to link conveniently tools, e.g. in those markdown tables, without copying the URL every time AND more important, dependent on the subdomain the link is __`https://singlecell.usegalaxy.eu/root?tool_id={{ tool[1] }}`__ or __`https://rna.usegalaxy.eu/root?tool_id

[2022-01-22 09:23] bgruening commented on #1156
I don't mind, as long as it is consistent for the entire page. E.g. everything with keys - the same key, or everything with filenames.
What we do not have, but need, is an alumni section/key.

[2022-01-28 12:48] bebatut opened #1167 "404 for https://galaxyproject.org/tools/requirements/"
Hi,

When clicking on `?` after "Requirements" (see below) in the help section for tool I was redirected on the hub (https://galaxyproject.org/tools/requirements/), a 404 page

![image](https://user-images.githubusercontent.com/1842467/151549523-6ee245df-f54b-4628-96d4-944f8296ad12.png)

[2022-02-01 16:08] NickSto opened #1168 "Make search page work without a query"
We could just change the content if there's no query - tell the user to use the search box in the upper right, or even display a search box in the main content area.

[2022-02-01 18:40] dannon commented on #1168
Thanks for making the issue to track this; yeah, per our conversation before it just wasn't designed to be a page that someone navigates to without a query.  Now that we're using it like that, I'll update it.

[2022-02-04 18:28] morelmiles commented on #1100
hi @hexylena, how far with this?

[2022-02-07 10:30] hexylena commented on #1100
Hi @morelmiles it is not started yet. It's not a high priority issue, it'll probably happen by the summer and that's OK.

[2022-02-23 15:47] afgane opened #1195 "Markdown headers not respecting alignment"
Defining a table like so does not align the header row the same as the remainder of the column (note `Cancelation fee` column):
[code]

![image](https://user-images.githubusercontent.com/338642/155354512-55fdca7b-1f2b-4cd8-847e-fee916c2aebc.png)

[2022-02-23 20:30] NickSto opened #1197 "Dealing with existing links"
The Problem
----------------

So along with image links (#1014), the major issue with moving all content to a subsite is that all the links in existing content that will break. At least, absolute links. But those are basically all internal links:

|                | Absolute | Relative |
|----------------|---------:|---------:|
| Markdown links |    7793  |     35   |
| HTML links     |    2683  |

[2022-02-24 22:18] NickSto opened #1199 "Dealing with existing Insert references"
The Problem
-----------------

Similar to #1014 and #1197, which deal with links to images and pages, we also have to worry about "links" to Inserts. Once again, because they've all moved and we reference them by absolute paths, all the existing references will be broken unless we take one of the following courses of action.

Solutions
------------

### Option 1: Edit all Insert paths

Like Option

[2022-02-25 22:20] NickSto commented on #1167
Where is this link? Is this in the Hub or Galaxy?

[2022-02-28 07:30] bebatut commented on #1167
In Galaxy

[2022-03-01 00:24] NickSto commented on #1167
Huh. Well apparently [this](https://web.archive.org/web/20170710051538/https://galaxyproject.org/tools/requirements/) is what used to be there. I'll try to find where it went or replace it.

[2022-03-01 00:47] dannon opened #1207 "'develop' mode build error in node 16"
When entering malformed markdown(needs a blank line between html and md contents), like:

[code]

In node 14, you get a friendly error that scrolls by too fast to see:
[code]

But in node 16, the node process is killed, requiring a restart.

This isn't in our code, so the best fix would be for gridsome to fix this upstream.  Barring that, we could handle this more gracefully in two potential ways.

[2022-03-01 15:57] dannon commented on #1199
+1 to just fixing all the links.  When we introduced automatic internal link checking it made it trivially easy to get a list of broken things and fix them in a matter of days.

[2022-03-03 17:15] dannon commented on #1207
To update here, we've been interactively tracking this down and the invalid markdown was a red herring.  The error still happens because it looks like gridsome's collection code is deleting the node from the collection prior to the update.  Debugging continues and I'll update here with more.

[2022-03-03 19:00] dannon commented on #1207
Fixed with #1213, though we might want to follow up and make this more robust somehow.

Copying over some debugging output explaining the problem:

Looks like the .webp was a symlink on the initial build, if there's some logic you want to adjust there.  If it's a symlink, is there no node and it's simply copied as static, which would explain this I guess?

[code]

And that output comes from dumpin

[2022-03-03 21:58] NickSto commented on #1207
Alright, it turns out that, as I suspected, this is very related to similar errors I've seen before.

#748 is not exactly this situation, but the core issue is also symlinks. And it turns out the solution also prevents this crash (evidence below). The solution basically tells `partition-content.mjs` to always place full copies of all content files into the build directories (never symlinks).

The

[2022-03-04 02:20] #748 closed

[2022-03-04 03:43] NickSto opened #1215 "Tables of Contents are unclickable on mobile"

[2022-03-04 16:42] #1167 closed

[2022-03-04 19:47] NickSto commented on #1207
Fixed by #1214.

[2022-03-04 19:47] #1207 closed

[2022-03-04 22:50] NickSto opened #1218 "Make global site footer and subsite footers"
Currently we have `/insert:/site-footer/` which is inserted at the bottom of every page. We'll instead (or additionally) need a subsite footer.

For example, currently we have our funding sources in the sitewide footer. These will be different for the US vs. the EU.

[2022-03-04 23:13] NickSto opened #1219 "How to deal with every link breaking"
Once we switch over, almost every previously valid url will break.

Seems like we should come up with a way to redirect visitors to the new urls.

### Option 1: Redirect `index.md` files

The normal way we make redirects is to make a page with a `redirect` metadata key. This would require creating a new `index.md` for every moved page, basically doubling the number of pages in the site. I don't kn

[2022-03-07 23:39] NickSto opened #1221 "How to deal with images in content/ referenced by absolute urls?"
Issue #1014 deals with images, but only the ones in the static directory.

But there's another common class of images: those that are in the content directory, but referenced by absolute paths.

For instance, [content/admin/internals/data-model/index.md](https://raw.githubusercontent.com/galaxyproject/galaxy-hub/master/content/admin/internals/data-model/index.md) includes an `<img>` with `src="/ad

[2022-03-09 23:26] NickSto opened #1224 "How to customize appearance for subsites?"
We'd like some way to visually distinguish which subsite a page is on.

For instance, galaxyproject.eu has different colored navbars for their different sites.

Dynamic Pages
---------------------

### Option 1: Use different layout .vue files

1. Make a new file in `src/layouts/`, e.g. `EU.vue`
2. Design the template however you want.
    - We could just set a class on the root element, then let

[2022-03-24 15:06] elichad opened #1252 "Broken link - Visualizations registry"
https://galaxyproject.org/visualizations-registry/ is broken.

Linked from https://github.com/galaxyproject/galaxy/blob/dev/config/plugins/visualizations/README.txt

These links under a search for "visualizations registry" also don't work.
![image](https://user-images.githubusercontent.com/20683271/159946723-5cd39a20-948e-495f-938b-295b017785fa.png)

[2022-03-24 19:21] beatrizserrano commented on #1252
Thanks a lot for reporting @elichad! [This tutorial](https://training.galaxyproject.org/archive/2019-06-01/topics/dev/tutorials/visualization-generic/tutorial.html) seems to be a better resource for you to look at. Although it is still pointing to the same broken link (as "additional documentation"), the tutorial itself should be more helpful. However, if you still want to look at the old content,

[2022-03-24 19:21] #1252 closed

[2022-03-25 17:34] ManaliPawar commented on #1215
hello, this is Manali, an outreachy applicant currently studying in IIT BHU and proficient in HTML, CSS, JS. Can I work on this issue?

[2022-03-25 17:44] NickSto commented on #1215
@ManaliPawar Hi! Sure that'd be great! I haven't had a chance to dig into it yet.

[2022-03-26 02:23] ManaliPawar commented on #1215
could you please help regarding how to set up the environment on a laptop?

[2022-03-26 02:26] ManaliPawar commented on #1215
@beatrizserrano @NickSto

[2022-03-26 02:44] dannon commented on #1215
@ManaliPawar Check out the readme here (https://github.com/galaxyproject/galaxy-hub#getting-started), it should have good instructions for getting started.  If you run into any trouble, though, let us know in detail what's going wrong and maybe we can improve it.

[2022-03-27 09:16] Melkeb opened #1256 "Moving FAQs from Galaxy Community Hub to the GTN"
**Moving FAQs**

**1. Account FAQ**

**Making Changes to Your Account** **(Update email, username, or password, Forgotten password reset and Other changes or updates)**
Link: https://galaxyproject.org/support/account-updates/

**2. Histories FAQs**

**Download entire histories**
Link: https://galaxyproject.org/support/download-data/
**My History is missing! (Finding Histories)**
Link: https://gala

[2022-03-27 15:07] DamilareOwoade commented on #280
I'm interested in building the non coder community.  I'm an outreachy applicant.  I'm in.

[2022-03-27 20:25] steph237 commented on #1256
Greetings @Melkeb Please I will like to be assigned this issue so i can start working on it

[2022-03-28 02:13] Melkeb commented on #1256
Hey there, this is an issue created for one of the mentioned tasks on Outreachy Galaxy project. This is not an issue created to be solved it's just to let the others know.

[2022-03-28 07:24] garimavs opened #1257 "Move FAQs from the Hub to the GTN"
**This issue contains all the possible FAQs that can be moved from the Galaxy Community Hub to the GTN.**

1. _FAQs related to Dataset and Histories_

- [Dataset icons and their role](https://galaxyproject.org/support/dataset-icons/).
- [Different dataset status](https://galaxyproject.org/support/how-jobs-execute/).
- [Moving Dataset and Histories](https://genomicsvirtuallab.wordpress.com/2016/07/

[2022-03-28 13:29] bernandez opened #1258 "Move faq(How to find tools) to the GTN"
Hello, i am an outreachy applicant and would like to move this faq (How to find tools) from https://galaxyproject.org/support/finding-tools/ to the GTN.

[2022-03-28 18:39] NdzeRegina opened #1259 "Moving FAQs (How to Share and Publish Your Work) from the Hub to GTN"
This covers the 3 different ways you can share your Galaxy items - histories, workflows, visualizations, and pages :

Individual users: Directly using a Galaxy account's email addresses. These must be on same server.
One or more users: Using a web link, with anyone who knows the link.
Everyone: Using a web link plus publishing into Shared Data.

[2022-03-28 19:32] NickSto commented on #280
Oh I hadn't seen this old effort. Good to know about past work.

@DamilareOwoade I'm not sure what movement there is on this particular effort but at GCC 2021 we talked about implementing a community page on the Hub. The issue for that is here: #1155

[2022-03-29 00:01] NickSto commented on #1257
Hi @garimavs, welcome to the project! Thanks for gathering these FAQs.

It looks like there's already an issue for moving FAQs here: #1256

If you'd like to have an issue for all the FAQs, you might want to consolidate them into one issue.

[2022-03-29 05:12] garimavs commented on #1257
Hello @NickSto, pleased to be able to contribute.

The issue mentioned was opened by another Outreachy applicant. I considered it prudent to open another issue to avoid any chaos, but since you have mentioned it, I would have a word with the mentors on what should be done!
Thanks for highlighting it.

[2022-03-29 07:46] beatrizserrano opened #1262 "Move FAQs to the GTN"
This issue keeps track of the [FAQs in the Community Hub](https://galaxyproject.org/support/) moved to the [GTN FAQs](https://training.galaxyproject.org/training-material/faq).

## Using Galaxy FAQs

### Basics
- [ ] [Getting an account at Galaxy Main (https://usegalaxy.org)](https://galaxyproject.org/support/account/)
- [ ] [Loading Data](https://galaxyproject.org/support/loading-data/)
- [ ] [Do

[2022-03-29 07:52] beatrizserrano commented on #1256
@Melkeb I hope I've added your GitHub handler (next to the FAQs that you are moving) to the issue https://github.com/galaxyproject/galaxy-hub/issues/1262 where we will keep track of all the FAQs. I'll close this one then, thanks!

[2022-03-29 07:56] beatrizserrano commented on #1257
Thanks @NickSto, that makes sense! We are collecting all of them [here](https://github.com/galaxyproject/galaxy-hub/issues/1262). Sorry for the noise and for not thinking about it before.

@garimavs Some of the FAQs you wanted to work on were already taken, so I've added your GitHub handler in the rest of them. Please let me know if there's a mistake anywhere! Thanks

[2022-03-29 07:56] #1257 closed

[2022-03-29 07:57] beatrizserrano commented on #1258
@bernandez that FAQ was already taken, can you please select another one? They are all now collected [here](https://github.com/galaxyproject/galaxy-hub/issues/1262). Thanks!

[2022-03-29 07:57] #1258 closed

[2022-03-29 07:59] beatrizserrano commented on #1259
@NdzeRegina we have collected all the FAQs into one [issue](https://github.com/galaxyproject/galaxy-hub/issues/1262), could you please indicate there which ones you'd like to work on? Thanks!

[2022-03-29 07:59] #1259 closed

[2022-03-29 08:28] garimavs commented on #1257
Thanks, @beatrizserrano, I will have a look at the requested tasks!

[2022-03-29 11:45] garimavs commented on #1262
Hello @beatrizserrano, I would like to work on the remaining part of [Dataset and how jobs execute](https://galaxyproject.org/support/how-jobs-execute/) and [A history was shared with me, where can I find it?](https://galaxyproject.org/support/missing-history/). Kindly add my name, if possible!

I also think that we can cover [Checking for active vs deleted vs permanently deleted (purged) datasets

[2022-03-29 12:20] beatrizserrano commented on #1262
Done, thanks!

Good catch, I've moved it 😺

[2022-03-29 17:23] bernandez commented on #1262
Hello  @beatrizserrano   i would like to work  on [Getting an account at Galaxy Main (https://usegalaxy.org)](https://galaxyproject.org/support/account/) and
 [Loading Data](https://galaxyproject.org/support/loading-data/).

[2022-03-30 00:57] otatadeabigail commented on #1262
Hi @beatrizserrano i would like to work on How to format fastq data for tools that require .fastqsanger format? and "Where is the tool help?"

[2022-03-30 07:06] beatrizserrano commented on #1262
Updated! Thank you very much @bernandez and @otatadeabigail :)

[2022-03-30 11:15] ManaliPawar commented on #1262
hello @beatrizserrano , i would like to work on managing datasets (https://galaxyproject.org/learn/managing-datasets/)

[2022-03-30 20:00] garimavs commented on #1262
Hey @beatrizserrano, the issue ([A history was shared with me, where can I find it?](https://galaxyproject.org/support/missing-history/)) is probably the same as ([My history is missing! Good news, it probably isn't.](https://galaxyproject.org/support/missing-history/#my-history-is-missing-)), which my fellow outreach applicant is probably working on!

[2022-03-30 20:11] Melkeb commented on #1262
Hey I'm only working on my history is missing and my dataset is missing anything after sharing history I didn't include.

[2022-03-31 04:40] garimavs commented on #1262
Oh, thanks for clarifying, will edit my previous text!

[2022-03-31 05:23] Beachyesh commented on #1262
Hey @beatrizserrano I would like to work on adding the following FAQs to the GTN:
Tool Error? Try sorting your input
Mismatched Chromosome identifiers (and how to avoid them)

[2022-03-31 05:58] Beachyesh commented on #1262
Hey @beatrizserrano I would like to pick the following FAQs:
[Format help for Tabular/BED/Interval Datasets](https://galaxyproject.org/support/tabular/)
[How do I find, adjust, and/or correct metadata?](https://galaxyproject.org/support/metadata/)

[2022-03-31 09:17] beatrizserrano commented on #1262
Merging them sounds good to me. However, I'm wondering whether this FAQ would be really useful to have in the GTN. Any thoughts on this? @jennaj @shiltemann @hexylena

[2022-03-31 09:47] shiltemann commented on #1262
I agree, the average Galaxy/GTN user won't know what to do with the GitHub issues, but that said maybe the list of known issues could be added to the end of the [bug reporting FAQ](https://training.galaxyproject.org/training-material/faqs/galaxy/analysis_troubleshooting_reporting.html)?

[2022-03-31 11:19] garimavs commented on #1262
I see that in [Reporting Usage Issues or Software bugs](https://galaxyproject.org/issues/), the link is provided to these known issues, should I include them while writing about usage problem reporting?

[2022-03-31 11:37] otatadeabigail commented on #1262
@beatrizserrano please i'd like to work on these:

 [Understanding compressed fastq data (fastq.gz)
 [Reformatting fastq data loaded with NCBI SRA]
 [Common datatypes explained]
 [Tool error? Try Sorting Your Inputs]
 [Preparing and using a Custom Reference Genome or Build]
 [Mismatched Chromosome identifiers (and how to avoid them)]
 [Extended Help for Differential Expression Analysis Tools]

How

[2022-03-31 15:48] beatrizserrano commented on #1262
I am not sure to be honest. I think that this can be hard for users to browse, but @jennaj may have a different view.

[2022-03-31 16:16] NickSto opened #1264 "Update documentation"
We need to update the documentation for the whole project. I think the README.md is already out of date in some places and omits a lot. And the CONTRIBUTING.md hasn't been updated since the switch to Gridsome. Both documents are basically the same topic, so they should be merged into one or split into topic-specific documents.

Metadata description
----------------------------
One thing we need is

[2022-04-01 00:34] AfiMaameDufie commented on #1262
Hi @beatrizserrano,
I would like to work on :

[The account usage quota seems incorrect](https://galaxyproject.org/support/account-quotas/) under accounts

and
 [Known Issues - Galaxy]
 [Known Issues - Main https]
 [Known Issues - Tools-devteam]
 [Known Issues - Tools-iuc]

 under Known issues

 Can I go ahead?

[2022-04-01 04:58] FrozenGirl-spd commented on #1262
Hey @beatrizserrano, May I work on:
[Known Issues - Main https://usegalaxy.org](https://github.com/galaxyproject/usegalaxy-playbook/issues/)
[Known Issues - Tools-devteam](https://github.com/galaxyproject/tools-devteam/issues/)

[2022-04-01 05:14] FrozenGirl-spd commented on #1264
Hi @NickSto @beatrizserrano , I'd like to work on the issue.
May I ?

[2022-04-01 10:01] Watiriroyalty commented on #1262
Hello @beatrizserrano I would like to work on [Understanding the Analysis History](https://galaxyproject.org/tutorials/histories/)

[2022-04-01 10:29] Watiriroyalty commented on #1262
@beatrizserrano : I would like to work on
Help Guides
 [Why develop tools for Galaxy?](https://galaxyproject.github.io/why-galaxy)
 [Galaxy Tricks](https://github.com/bgruening/galaxy-tricks/blob/master/README.md)
 [Commercial Galaxy Support](https://galaxyproject.org/support/commercial/)

[2022-04-01 11:45] Watiriroyalty opened #1266 "Update CONTRIBUTING.md file"
#1264
I noticed that the contributing.md file mentions that every single directory contains an 'index.md' file which contains the markdown text for that directory. However, upon careful scrutiny of the file structure, I noticed that the directories don't actually contain the index.md file. This is an issue because there is no file to update.

[2022-04-01 12:32] adi-1999 commented on #1262
@beatrizserrano  please I would like to work on these:
[Known Issues - Main https://usegalaxy.org](https://github.com/galaxyproject/usegalaxy-playbook/issues/)
 [Known Issues - Tools-devteam](https://github.com/galaxyproject/tools-devteam/issues/)
 [Known Issues - Tools-iuc](https://github.com/galaxyproject/tools-iuc/issues)
 [Reset password or Change email, username, password](https://galaxyproje

[2022-04-01 13:20] bernandez commented on #1262
Hello @beatrizserrano i would also like to work on
-   [The account usage quota seems incorrect](https://galaxyproject.org/support/account-quotas/)

[2022-04-01 18:45] NickSto commented on #1266
Hi @Watiriroyalty, thanks for taking a look. Yeah, the CONTRIBUTING.md file basically hasn't been updated since we completely rewrote the site so I'm sure it's wrong more often than it's right.

That said, it still should be mostly true that there's an `index.md` in almost every directory under the `content` directory. Some directories might have a `main.md` instead. Those are Inserts which provid

[2022-04-01 18:48] NickSto commented on #1264
Sure, you're more than welcome to. But I'd caution that this might not be the easiest issue to start with. By definition it's about writing documentation for things that currently have no documentation. A lot of the things that need to be explained probably only really exist in my head.

That said, if you can find some things that are clear enough and just aren't written down yet, it'd certainly b

[2022-04-02 08:27] beatrizserrano commented on #1262
Added, thanks! I've divided that one into several, so let me know if you want to work on all the ones under the same page.

We have been discussing leaving those out as they are too technical for users

[2022-04-02 08:28] beatrizserrano commented on #1262
Hi @FrozenGirl-spd! We have decided to skip those FAQs, could you select another one? Thanks!

[2022-04-02 08:30] beatrizserrano commented on #1262
Hi @Watiriroyalty. This one was marked as done because it's already a tutorial, so no need to create a FAQ. Could you pick another one? Thanks :)

[2022-04-02 08:32] beatrizserrano commented on #1262
these are also marked as done, sorry :(

[2022-04-02 08:34] beatrizserrano commented on #1262
Hi @adi-1999. All those FAQs are either marked as done or selected by another person. Could you select some free ones? Thanks!

[2022-04-02 08:43] garimavs commented on #1262
Hey @beatrizserrano, Can I work on [Updating account preferences](https://galaxyproject.org/support/account/#registering-for-a-galaxy-account)

[2022-04-02 08:45] beatrizserrano commented on #1262
Sure, assigned! Thanks

[2022-04-02 08:46] bernandez commented on #1262
Hi @beatrizserrano I had worked on updating account preference. You had assigned this to me. A pull request has been opened for this FAQ.

[2022-04-02 08:48] beatrizserrano commented on #1262
True! Sorry @bernandez and @garimavs. I'm afraid that there might be more mistakes, it's a bit confusing...

[2022-04-02 08:53] adi-1999 commented on #1262
Hi @beatrizserrano , can I please work on :-
[Understanding the Analysis History](https://galaxyproject.org/tutorials/histories/)
[How to log in or out of Galaxy?](https://galaxyproject.org/support/account-quotas/#how-to-log-in-or-out-of-galaxy)
[My job ended with an error. What can I do?](https://galaxyproject.org/support/tool-error/)
[I need more space for my work](https://galaxyproject.org/supp

[2022-04-02 09:01] beatrizserrano commented on #1262
Updated, thanks! But please note that some of them are already done

[2022-04-02 09:55] garimavs commented on #1262
Oh no worries!

[2022-04-03 21:24] AnomalyCodes commented on #1262
Hi @beatrizserrano. I would like to work on [Transfer/Upload entire histories] Please assign it to me as I can see that it's available. Thank you.

[2022-04-03 21:28] AnomalyCodes commented on #1262
Hi @beatrizserrano. I would like to work on [Transfer/Upload entire histories](https://galaxyproject.org/support/download-data/#overview) Please assign it to me as I can see that it's available. Thank you.

[2022-04-04 02:45] bernandez commented on #1262
Hi @beatrizserrano I would also like to work on  [Reduce quota usage while still retaining prior work (data, tools, methods)](Reduce quota usage while still retaining prior work (data, tools, methods)). Thank you.

[2022-04-04 05:46] garimavs commented on #1262
Hey @otatadeabigail, I would like to work with you on [Understanding compressed fastq data (fastq.gz)](https://galaxyproject.org/support/compressed-fastq/) and [Tool error? Try Sorting Your Inputs](https://galaxyproject.org/support/sort-your-inputs/), unless you have already submitted a pr for the mentioned.

[2022-04-04 13:55] Samanthaanjei commented on #1262
hello @beatrizserrano right now I m working on DEVELOPING A CULTURE OF WELLBEING FOR OPEN-SOURCE PROJECTS – THE GALAXY COMMUNITY AS A USE CASE.
[PROJECT 1.docx](https://github.com/galaxyproject/galaxy-hub/files/8410233/PROJECT.1.docx)

for now I have been to answer the first part of the questions but in order to proceed answering the rest i will need to ask you a few questions concerning the Galax

[2022-04-04 13:59] bernandez commented on #1262
Hello @Samanthaanjei welcome. I would love to help you out on this.

[2022-04-04 14:03] Samanthaanjei commented on #1262
Thank you very much @bernandez. Please inorder to proceed I will like to find out about the culture of wellbeing of the galaxy community as a whole that is its systems as well as members

[2022-04-04 14:05] annefou commented on #1262
Awseome! for such discussions, this issue may not be the best place. Shall we discuss in our outreachy chat instead?

[2022-04-04 14:06] Samanthaanjei commented on #1262
Alright @annefou I will 🙏🏿

[2022-04-04 21:57] NickSto opened #1270 "Dealing with old Gridsome version issues"
Gridsome development has slowed and some issues have cropped up with old packages (#1004) or PRs they've accepted but not released.

This issue is to track strategies for dealing with this problem. Mainly it looks like we'd have to find a way to modify Gridsome ourselves and distribute it.

## Option 1: [patch-package](https://www.npmjs.com/package/patch-package)
There's an NPM package that helps

[2022-04-05 09:31] anayo-hub commented on #1262
hi @beatrizserrano I would love  to work on https://galaxyproject.org/learn/share/#sharing-via-web-link-and-publishing-an-item

[2022-04-05 09:36] desmond-jasper commented on #1262
@beatrizserrano [Sharing via Web Link and Publishing an Item](https://galaxyproject.org/learn/share/#sharing-via-web-link-and-publishing-an-item)

[2022-04-05 09:45] annefou commented on #1262
@anayo-hub I think you can check it and work with @NdzeRegina. @desmond-jasper is also interested.

@desmond-jasper ok. Make sure you discuss together and agree on who is doing what and how. Thanks.

[2022-04-05 11:18] anayo-hub commented on #1262
@desmond-jasper and  @NdzeRegina, can we talk through the channel

[2022-04-05 11:20] desmond-jasper commented on #1262
@anayo-hub  @NdzeRegina sure

[2022-04-05 11:48] Abraham-Deng commented on #1262
Hello colleagues, am seeing the same issues almost being shared by all contributors. but am interested in the following issues;
1. Why develop tools for Galaxy?
 2. Galaxy Tricks
 3. Commercial Galaxy Support
@beatrizserrano Please let me know if there are more different issues not being done by other contributors, so I can choose them instead of those ones. OR you may add me more.

[2022-04-05 13:24] beatrizserrano commented on #1262
Thanks @Abraham-Deng, we will be happy to discuss this in our chat channel and/or our call next week :)

[2022-04-05 20:14] mesode commented on #1262
Hello @beatrizserrano I would like to begin working on [Understanding the Analysis History](https://galaxyproject.org/tutorials/histories/)

[2022-04-06 07:43] beatrizserrano commented on #1262
Thanks @mesode. That FAQ is already checked because it's a tutorial, I'll remove it to avoid confusion. Could you pick another one that is not check and coordinate with the person that is taking care?

[2022-04-06 09:57] mesode commented on #1262
Ok. I'll select another one

On Wed, Apr 6, 2022, 8:44 AM Beatriz Serrano-Solano <
***@***.***> wrote:

[2022-04-06 10:56] mesode commented on #1262
@beatrizserrano Then I will work on registering for a galaxy account (https://galaxyproject.org/support/account/#registering-for-a-galaxy-account) with @bernandez

[2022-04-06 12:01] mesode commented on #1262
Thank you ma.

On Wed, Apr 6, 2022, 10:57 AM mesode akwe ***@***.***> wrote:

[2022-04-06 12:04] mesode commented on #1262
I have equally started researching on diversity, well-being and mental
health with respect to open source.
I would love to send a small report on these for you to review tomorrow if
it's okay with you.

On Wed, Apr 6, 2022, 1:01 PM mesode akwe ***@***.***> wrote:

[2022-04-06 12:16] beatrizserrano commented on #1262
As we indicated in the guidelines, we invite you to write your thoughts in a post that you can publish and share as an Outreachy contribution. We are also hosting a call next week, please check the chat channel for details and further discussion. Let's try to keep this issue only for discussions about the FAQs and move the other discussions to our chat.

[2022-04-06 12:28] mesode commented on #1262
Ok. Got it.

On Wed, Apr 6, 2022, 1:16 PM Beatriz Serrano-Solano <
***@***.***> wrote:

[2022-04-06 21:01] Samanthaanjei commented on #1262
Hi @beatrizserrano i will like to work on [importing data via links](https://training.galaxyproject.org/training-material/faqs/galaxy/datasets_import_via_link.html)

[2022-04-06 22:52] Samanthaanjei commented on #1262
Hello @adi-1999 can i please work with you on your FAQ

[2022-04-07 07:45] Samanthaanjei commented on #1262
please @annefou can i collaborate with @adi-1999 on his FAQ's

[2022-04-07 07:54] annefou commented on #1262
Of course you can collaborate. You do not need our permissions to do so. Collaboration is encourage in open source projects.

[2022-04-07 16:00] Nurzhamalyrys commented on #1262
Hi @ManaliPawar!
Can I work on managing dataset  issue with you?

[2022-04-07 16:27] andreasSune commented on #1262
Hi @annefou  please i would like to work on the following issues with the other contributors:[Dataset downloading incompletely?](https://galaxyproject.org/support/download-data/#large-datasets)
[Managing Datasets](https://galaxyproject.org/learn/managing-datasets/)
[Sharing via Web Link and Publishing an Item](https://galaxyproject.org/learn/share/#sharing-via-web-link-and-publishing-an-item)
[I n

[2022-04-08 02:43] Nurzhamalyrys commented on #1262
Hi ! @adi-1999
Can I work on " I need more space on my work" as well ?

[2022-04-11 07:11] bernandez commented on #1262
Hi @beatrizserrano looks like a pull request has not been open for [How to log in or out of Galaxy?](https://galaxyproject.org/support/account-quotas/#how-to-log-in-or-out-of-galaxy) and
 [I need more space for my work](https://galaxyproject.org/support/account-quotas/#i-need-more-space-for-my-work). i would love to work on this with @adi-1999.

[2022-04-11 08:05] annefou commented on #1262
We have PR for registration, login, etc to galaxy. And this is also covered by the training materials. I am not sure for the two other ones. These are very specific and may be covered in a training.

[2022-04-11 08:06] annefou commented on #1262
No need to take several FAQs to move. Take one and work on it. However, before starting anything, check the open PRs, the existing/moved FAQs (https://training.galaxyproject.org/faqs/)

[2022-04-11 08:12] bernandez commented on #1262
Hi @beatrizserrano I just checked an looks like a PR has not been opened for [Preparing and using a Custom Reference Genome or Build](https://galaxyproject.org/learn/custom-genomes/). Can i work on this?

[2022-04-11 17:32] mruqqie commented on #1262
Hi @bernandez . Can I work on [Updating account preferences]((https://galaxyproject.org/support/account/#registering-for-a-galaxy-account)) and [Registering for a Galaxy account]((https://galaxyproject.org/support/account/#registering-for-a-galaxy-account)) with you?

[2022-04-11 20:58] desmond-jasper commented on #1262
@annefou please can you check on this: https://github.com/galaxyproject/training-material/pull/3357

[2022-04-13 07:21] garimavs commented on #1262
Hey @beatrizserrano @annefou, I'm working on [Tool error? Try Sorting Your Inputs](https://galaxyproject.org/support/sort-your-inputs/), kindly add my name to the list too.

[2022-04-13 09:16] andreasSune commented on #1262
Hi @annefou  and @beatrizserrano  please can you check on this: [https://github.com/galaxyproject/training-material/pull/3374](https://github.com/galaxyproject/training-material/pull/3374)

[2022-04-14 06:43] Watiriroyalty commented on #1262
Hey ? I would love to collaborate with anyone working on a open issue, I notice that most of the issues have already been allocated to fellow contributors.

[2022-04-14 13:14] Beachyesh commented on #1262
@beatrizserrano FAQ "Where is the tool help?" has a [PR](https://github.com/galaxyproject/training-material/pull/3322) that seems to have been abandoned. May I work on it?

[2022-04-15 19:33] NickSto opened #1293 "Let authors auto-generate listings of tagged events by editing config.json"
#1269 made the generation of pages like `/events/webinars/` and `/community/devroundtable/` very automated. Now all you have to do to create another page is add a line to an Array in `gridsome.server.js`. It would be very easy to source that list from `config.json`.

New event listings like this come up periodically. We already have 4 examples. And now, for instance, with the new community calls (

[2022-04-15 23:12] NickSto commented on #1293
Implemented in #1299.

[2022-04-15 23:12] #1293 closed

[2022-04-16 12:00] mruqqie commented on #1262
Hi @annefou and @beatrizserrano can I work on [Determining the job failure type](https://galaxyproject.org/support/tool-error/#determining-the-job-failure-type)?

[2022-04-16 12:43] garimavs commented on #1262
Hello @mruqqie, I'm already working on this issue. I will submit a PR soon as the content is being revised, which took some time. You can most definitely share your inputs in that.

[2022-04-16 12:49] mruqqie commented on #1262
@garimavs Hi. Can I work with you on it then?

[2022-04-17 13:39] mruqqie commented on #1262
@annefou @beatrizserrano I'd like to work with @Melkeb on [The tool I'm using does not recognize any input datasets. Why?](https://galaxyproject.org/support/datatypes-and-tools/), if that's okay?

[2022-04-17 20:34] Abraham-Deng commented on #1262
Dear @adi-1999 , May we collaborate on handling the below issues
Known Issues - Galaxy
Known Issues - Main ht
Known Issues - Tools
Known Issues - Tools-iuc
Why develop tools for Galaxy?
Galaxy Tricks
Commercial Galaxy Support
Understanding the Analysis History
Moving data between Galaxy servers (any!)

[2022-04-18 11:51] mruqqie commented on #1262
Hi @otatadeabigail can I work with you on [Mismatched Chromosome identifiers (and how to avoid them)](https://galaxyproject.org/support/chrom-identifiers/) and [Common datatypes explained](https://galaxyproject.org/learn/datatypes/)?

[2022-04-20 21:31] NickSto opened #1315 "Porting posts from .eu"
Things we'll have to do manually or (hopefully) automatically when moving `_posts` and `_events` from galaxyproject.eu to galaxyproject.org.

## Organization
The posts in .eu are each a Markdown file with a unique name in the `_posts` or `_events` directories. In .org, each post has its own directory, and is always named `index.md`. Easy to automate: make a directory with the same name as the Mark

[2022-04-22 00:46] NickSto opened #1317 "How should posts be aggregated across subsites?"
In the Hub meeting this morning we confronted an issue central to the Hub unification effort.

One of the main motivations of unification was making it easy to cross-post content across different Galaxy locations. Instead of having to create a post on .org that points to a .eu event, you can just tag the EU event with `us` and it will show up in the US feed as well.

But then should that post show

[2022-04-22 14:53] bgruening commented on #1317
The spreadsheet is a great idea, I filled it.

My guess is it will stay complicated and we should be explicit, for the time being, with handy shortcuts ( ifb, us, au, eu, all, global, freiburg, belgium), less magic.

Alternatively, we can have a transparent configuration option somewhere. Something along those lines:

[code]

So everyone can edit it and decide about the scope.

[2022-04-22 16:40] NickSto commented on #1317
Thanks for your input @bgruening!

Yeah, I like the idea of keeping it simple and explicit. So maybe for now we just have no automatic propagation. We require authors to explicitly list every place a post should appear.

FYI, my interpretation of this is the strict version: if someone just lists `eu`, then it *only* appears in the EU feed, not the Freiburg or global ones. Shorthands will help with

[2022-04-22 17:36] NickSto commented on #1317
I realize this means that we'll have to go back and add a `subsites` key to every existing event on .org or the `/events/` list will be empty. I'm going to go ahead and add `subsites: [global, us]` to every post as a default, and we can manually change individual posts later if we want.

[2022-04-22 21:55] #1317 closed

[2022-04-23 00:32] NickSto commented on #1037
**Update**: So this syntax actually does seem to work? I didn't think `remark-attr` was anything more than barely functional here but I guess it's doing its job?

The only hitch is that it seems you need a space after the `{:` or it won't parse anything until there's a space. That means a lot of the current .eu content will have to be modified, but minimally. And as-is, everything after the first

[2022-04-23 00:57] NickSto commented on #1117
# Feature
## Expanded Font Awesome icon set

We seem to not have as much Font Awesome support as .eu. Some icons work out of the box (`fa-laptop`, `fa-list-ul`), but others show up as an unrecognized unicode character (`fa-slideshare`) and still others don't show up at all (`fa-video-camera`).

You can see examples at `/events/2021-10-sars-cov-2-training/`.

[2022-04-27 17:07] NickSto commented on #1224
Implemented in #1283 as Option 2.

[2022-04-27 17:07] #1224 closed

[2022-04-27 17:49] NickSto commented on #1117
## Feature
### Display `supporters` in footer

.eu has a `supporters` metadata key which seems to add a "Supported by" footer with organization logos beneath.

See: https://galaxyproject.eu/posts/2022/04/24/tool-update/

[2022-04-27 18:15] NickSto opened #1334 "Allow posts to have a primary subsite"
With the current subsite implementation, the visual indicators of the subsite (NavBar, footer) depend solely on the url. E.g. `/freiburg/some/page/` be in the Freiburg subsite, but `/some/page/` will be in the "Global" subsite.

And since we stuck with the same organizational scheme as .eu (all events in the same directory and under the same `/events/` path), all events and news posts are thus in

[2022-04-27 23:24] NickSto commented on #1117
## Feature
### Structured article metadata
As described in #1315, certain metadata fields in .eu posts contain structured data instead of plain strings. We need to parse them and display them properly:
#### `organiser`
These are often dicts which contain keys like `name` and `email`.
#### `location`
These are often dicts which contain keys like `city`, `country`, and `geo` (which itself contains a

[2022-04-27 23:37] NickSto commented on #1117
## Feature
### Automatic article teases
.eu seems to automatically generate `tease`s for their posts from the first bit of the content. There's an automatic function to do that in Gridsome.

When implementing it, though, it'd be good to somehow avoid displaying auto-generated teases in the article header, like we currently do for our manual teases. Because then it looks repetitive and weird.

[2022-04-28 05:57] bgruening commented on #1117
It's debatable if this feature is good or bad. I could argument in both sides I guess. If you think we should drop it we need to bite the bullet and add tease to our articles.

[2022-04-29 17:35] NickSto commented on #1117
From my side, I'd certainly prefer manual teases. But it's just a little extra work to auto-generate them.

[2022-04-29 18:07] NickSto commented on #1117
## Feature
### RSS feed

Reproduce https://galaxyproject.eu/feed.xml

Hopefully we can just use a Gridsome plugin like https://gridsome.org/plugins/gridsome-plugin-feed

One potential hitch is that if we want to give people a drop-in replacement for the .eu feed, we'd want to filter for only `eu` posts.

[2022-04-29 22:35] NickSto commented on #1334
With #1336, I think we've basically decided on Option 2.

[2022-04-29 22:35] #1334 closed

[2022-04-30 10:17] garimavs commented on #1262
Hey @beatrizserrano, Kindly add my name in [Managing Datasets](https://galaxyproject.org/learn/managing-datasets/) FAQ.

[2022-04-30 13:00] Beachyesh commented on #1262
@garimavs I took it up a while back, let's collaborate! :)

[2022-04-30 13:03] garimavs commented on #1262
Sure! Let's talk more about it on the community channel.

[2022-05-03 20:43] NickSto commented on #1117
## Feature
### Hiding footer

See `_events/2020-10-22-RNA-Seq-Iran2020.md`:
[code]

[2022-05-05 14:53] NickSto opened #1356 "Skip partitioning by using `vue-remark`'s `ignore` option to tell it which pages require Vue"
I just had the thought that maybe instead of doing the whole "partitioning" step where we physically divide Markdown files into those that require `vue-remark` and those that don't, we could just instruct the plugin itself which files to process. The `source-filesystem` plugin has a `path` option and `vue-remark` has an `ignore` option which tells it which files to apply to.

Currently we're using

[2022-05-06 09:15] bebatut opened #1363 "Toggle button on header barely visible on small screen"
I could not see the toggle button on the header in my screen (not enough contract):
![image](https://user-images.githubusercontent.com/1842467/167103311-9495f5cb-59c9-430d-b792-dafd26154bb1.png)

[2022-05-10 00:37] NickSto opened #1369 "Twitter analytics elements are sticky"
When you visit a page with a Twitter timeline embed (currently just the homepage), it creates a couple `<iframe>`s in the page, one of which helpfully titles itself "Twitter analytics iframe". This is of course expected when you invite Twitter onto your page. But what's not quite as expected, at least to users, is that these iframes remain after you click to another page on the Hub. So basically,

[2022-05-10 01:50] NickSto commented on #1065
This could be merged with the BareArticle concept - just make all the Inserts render a bare page without the window dressing. Then instead of a `/bare/` directory with an `index.md` per page, they'd just be Inserts (with a non-`index.md` filename) anywhere.

[2022-05-10 23:23] #1103 closed

[2022-05-11 00:49] NickSto commented on #1075
#1376 is a very interesting example. It was caused by omitting the (normally optional) `<tbody>` tag in a table.

[2022-05-11 18:03] #1363 closed

[2022-05-11 21:00] NickSto opened #1380 "Implement the middle panes for EU Galaxy servers"
I'm copying this here from #1117, since it outgrew that list.

## Basics

galaxyproject.eu provides the middle panes for all the *.usegalaxy.eu servers.

Each of the `index-*.md` files in the root directory generates a page that's hotlinked from an iframe in a Galaxy instance.

For instance:
`index-rna.md` generates
https://usegalaxy-eu.github.io/index-rna.html, which is the center pane of
https:/

[2022-05-11 21:03] NickSto commented on #1380
Copying Bjorn's comment from #1117:

The tools.yml is just a convenience mapping of keys to proper tool-urls. This can be used for example on subdomains to link conveniently tools, e.g. in those markdown tables, without copying the URL every time AND more important, dependent on the subdomain the link is __`https://singlecell.usegalaxy.eu/root?tool_id={{ tool[1] }}`__ or __`https://rna.usegalaxy.e

[2022-05-11 21:30] NickSto commented on #1117
## Usage
How many of these features are actually used or relied on?
Here I'm collecting specifics on what data would help deciding whether each feature warrants actually implementing.

### Widgets
What are the traffic stats for:
https://galaxyproject.eu/widgets/news.html
https://galaxyproject.eu/widgets/events.html

### Events ical format
What are the traffic stats for:
https://galaxyproject.eu/ev

[2022-05-11 21:38] NickSto commented on #1157
## `/event/` vs. `/events`/

Why do some (262) events end up at a path under `/events/` and some (55) under `/event/`?

The `collections` key in `_config.yml` only indicates the `/event/` path, and I don't see any reference to `/events/` in there.

[2022-05-12 06:21] bgruening commented on #1117
Those are very high, we use them inside Galaxy webhooks. This means those are displayed when people submit Galaxy jobs.

[2022-05-12 06:23] bgruening commented on #1117
https://galaxyproject.eu/events/*/event.ics.html
https://galaxyproject.eu/event/*/event.ics.html

No idea, not sure if we know. Is this hard to generate? We should actually create a public GCalender out of that, or add this automatically to an existing one.

[2022-05-12 06:51] beatrizserrano commented on #1117
@dannon is this what you worked on? I think that the only missing part was to add them to the existing `GalaxyEvents` calendar

[2022-05-12 16:59] NickSto commented on #1117
Yeah, so Dannon was working on an ics feed which would contain all events. It's a little different, but maybe that's close enough to say it supplants the individual event ics files?

[2022-05-12 19:18] NickSto opened #1383 "Redesign latest news/events/etc cards"
The cards we use on the homepages (and [elsewhere](https://galaxyproject.org/bare/eu/latest/)) could use a touch up.

The ones used on [.eu](https://galaxyproject.eu), for example, look much better. We could just adopt that style ourselves?

[2022-05-12 21:37] NickSto commented on #1117
@bgruening Very good to know. Are you sure these are the exact urls that are used, though? I just tried it myself (on usegalaxy.eu) and it showed https://usegalaxy-eu.github.io/galaxy/news.html, not https://galaxyproject.eu/widgets/news.html

[2022-05-12 23:29] NickSto commented on #1117
## Feature

### Inter-post links

Each news (but not event) post has links to the previous and next posts so users can navigate between them without going back to the list of all events.

[2022-05-12 23:38] NickSto opened #1385 "Do we need to produce a plain/bare version of every page?"
On the current .eu site, every news/event post produces both the normal view in an `index.html` and a content-only version in a `plain.html`. From what I've gathered, it seems the main reason for the plain versions are so that when people on usegalaxy.eu click a link in the middle pane, they see the page without the navbar, which would look weird inside of Galaxy.

Re-implementing this wouldn't be

[2022-05-12 23:39] dannon commented on #1117
Yep, the .ics feed is live at https://galaxyproject.org/events/calendar.ics and will include any 'event' type content item; I think what @beatrizserrano is mentioning was piping all of those events into the existing `GalaxyEvents` public google calendar.  That turned out to be nontrivial and potentially messy (like for changes to events) to keep in sync.  Still looking for better ways to solve tha

[2022-05-12 23:44] NickSto commented on #1380
## Links

One major consideration: navigation from the middle panes. I.e. what happens when a user clicks an internal link in the middle pane?

Currently, on the .eu-hosted pages, they get taken to a navbar-less `plain.html` version of the post. The response to #1385 will determine if we need to also do this. Otherwise, we could just add `target="_blank"` to every link.

[2022-05-13 18:55] beatrizserrano commented on #1385
I think that `target="_blank"` could be a good solution

[2022-05-17 20:16] NickSto opened #1400 "Are authors being omitted from the RSS feed?"
After merging #1397, the feed file produced in production doesn't exactly match the one I produced locally. There are some differences in the `<published>` times, assumedly due to server vs. local timezone differences, but it also omitted the `<author>` for the (currently only) entry that had one:
[code]

It might become more clear what's happening as we add more `eu` news posts.

[2022-05-26 19:35] NickSto commented on #1117
Re: the "add to calendar" feature, it looks like we can also give an "add to Google Calendar" button without any ics file. Instead all we need is to compose a link to a particular Google Calendar url.

For example: `http://www.google.com/calendar/event?action=TEMPLATE&details=We+will+have+a+presentation+on+Galaxy+on+AnVIL+by+Mike+Schatz&text=Galaxy+Community+Call%3A+Galaxy+on+AnVIL&dates=20220526T

[2022-05-26 22:36] NickSto opened #1410 "Reimplement EU tools.yml"
[tools.yml](https://github.com/usegalaxy-eu/website/blob/master/_data/tools.yml) is a database mapping tool names to toolshed urls. This powers the `{% include tool.html %}` function.

## EU implementation

Seems to only be used in index-*.md middle panes (see [index-rna.md](https://usegalaxy-eu.github.io/index-rna.html#available-tools))
- The .md page uses an `include` like `{% include tool.html

[2022-05-26 22:36] NickSto commented on #1410
Copying Bjorn's comment from #1117:

_Originally posted by @bgruening in https://github.com/galaxyproject/galaxy-hub/issues/1117#issuecomment-1019123142_

[2022-05-26 22:39] NickSto commented on #1410
@bgruening Okay, so before I go implementing some tricky solution to this, I should ask: do we need it? How bad would it be to just hardcode the tool urls in the Markdown? They're not likely to change very often, are they? And I think we're probably also going to just end up hardcoding the subdomains (`{{ page.subdomain }}` → `rna`), so it won't have that advantage anyway.

[2022-05-26 22:52] NickSto opened #1411 "Reimplement EU /tools page"
The page [/tools](https://galaxyproject.eu/tools) is hardcoded in HTML by tools.md. It's not connected to tools.yml and is instead autogenerated every week by a [Github action](https://github.com/usegalaxy-eu/website/blob/master/.github/workflows/update-tools.yml).

Bjorn [says](https://github.com/galaxyproject/galaxy-hub/issues/1117#issuecomment-1019123142) we can just take this action and run it

[2022-06-01 17:17] NickSto opened #1417 "Automatically pull in GTN posts"
[update_gtn_posts.py](https://github.com/usegalaxy-eu/website/blob/master/update_gtn_posts.py) automatically pulls content from the GTN's [RSS feed](https://training.galaxyproject.org/training-material/feed.xml) (which tracks their [news posts](https://training.galaxyproject.org/training-material/news.html)) and adds them as new Hub posts.

We could use Gridsome's ability to pull in remote content

[2022-06-01 17:31] NickSto opened #1418 "Automatically update VGP assemblies total"
The [annotate_genome_count.py](https://github.com/usegalaxy-eu/website/blob/master/annotate_genome_count.py) script reads [this spreadsheet](https://docs.google.com/spreadsheets/d/1Kya38LUDom4u7osTTY3uYyNor7AMpyLYxz5MaulciZc/edit#gid=0) and updates [index-assembly.md](https://github.com/usegalaxy-eu/website/blob/master/index-assembly.md) with the current count of assembled VGP genomes, so it shows

[2022-06-01 19:26] NickSto opened #1419 "Provide Zotero/bibliography/citation system"
The EU Hub currently uses [jekyll-scholar](https://www.rubydoc.info/gems/jekyll-scholar/0.4.0) to provide a system for citing papers. It provides the `{% cite %}` and `{% bibliography %}` tags. These depend on a separately-maintained .bib file (or files?) in the [_bibliography/](https://github.com/usegalaxy-eu/website/tree/master/_bibliography) directory.

## EU's .bib files
[update_citations-eu.p

[2022-06-01 22:40] NickSto opened #1421 "Remove subsite hierarchy"
Since we concluded in #1317 that there shouldn't be any automatic propagation of posts between subsites, the `config.json` option `subsites.hierarchy` has been basically unused.

So we should officially remove that additional bit of complexity and make it clear that there's only a flat list of subsites, with the only "organization" being the shorthands that group sets of them together.

I'm thinki

[2022-06-03 08:10] bgruening opened #1426 "https://galaxyproject.org/projects/ should not be a 404"
https://galaxyproject.org/projects/ should list the available projects maybe with a fancy image. Currently, it results in a 404.

[2022-06-03 11:25] wm75 opened #1428 "More inclusive Projects navbar dropdown"
In https://github.com/galaxyproject/galaxy-hub/pull/1425 I added a "Projects" dropdown menu to the hub's navbar. My original idea was to give the projects listed under https://galaxyproject.org/community/wg/#current-set-of-projects (and for now our new monkeypox efforts) some visibility.

Now just saying "Projects" there and not listing community projects there, doesn't feel very inclusive (as poi

[2022-06-03 11:36] dannon commented on #1428
+1, of course, we just need to have pages for those projects.  Is there a more comprehensive list of what we can currently include anywhere?

I'm happy to mock up the links for ya if that'd help.

[2022-06-03 12:29] wm75 commented on #1428
@bebatut what would you include under *Community Projects*?

[2022-06-06 01:22] NickSto opened #1436 "Support for our Google Analytics flavor is going away"
[Google is moving](https://support.google.com/analytics/answer/11583528) from "Universal Analytics" to "Google Analytics 4". After July 1, 2023, it looks like the old system will no longer work.

We use Universal Analytics. [Confirmed by](https://support.google.com/analytics/answer/11583832) the fact that our property ID starts with `UA-`.

[2022-06-09 14:25] NickSto opened #1442 "Reimplement JSON-LD data for events"
This was implemented in Hub 1.0, and instead of reimplementing it after the rewrite, we went with the [Hub unification](/galaxyproject/galaxy-hub/projects/3) effort as a solution for crossposting content across communities. But:

\- @hexylena

Hub 1.0 had JSON-LD on the [/events/ page](http://web.archive.org/web/20210324100645/https://galaxyproject.org/events/): one blob per event, each in its sep

[2022-06-09 14:29] hexylena commented on #1442
Thanks @NickSto! if y'all get something started, I can maybe work on making it match all the schema properties?

[2022-06-10 00:39] NickSto commented on #1075
Noticed another set of pages where this is happening:
- [/events/gcc2019/](https://galaxyproject.org/events/gcc2019/)
- [/events/gcc2019/venue/](https://galaxyproject.org/events/gcc2019/venue/)
- [/events/gcc2019/training/](https://galaxyproject.org/events/gcc2019/training/)
- [/events/gcc2019/abstracts/](https://galaxyproject.org/events/gcc2019/abstracts/)
- ..etc

Those are the ones I manually c

[2022-06-10 18:46] NickSto commented on #1442
One question about implementation is whether to put json-ld blobs on the /events/ page and/or one blob on each individual event's page. The old .org Hub did the former and .eu does the latter.

According to @hexylena, if we have a sitemap, sites like [TeSS](https://tess.elixir-europe.org) can use that to find every event page and extract the json-ld from there, so we don't have to include the blob

[2022-06-22 23:19] #1215 closed

[2022-06-22 23:38] NickSto opened #1469 "Allow Table of Contents to be placed anywhere"
It would be great to allow authors to decide where to place the table of contents. For example, this currently used in .eu's [metabolomics middle pane](https://usegalaxy-eu.github.io/index-metabolomics.html). Currently, auto-generated ToCs can only be placed at the top of the page or nothing.

Our ToCs are currently generated by [remark-toc](https://github.com/remarkjs/remark-toc), which works by

[2022-06-24 16:30] #1469 closed

[2022-06-24 16:32] NickSto opened #1474 "Manual table of contents improvements"
With #1473, the core issue of not being able to manually place a table of contents (#1469) is fixed. But the implementation could still be improved.

First, the heading string options could be improved. Currently it's basically "TOC" or "Table of contents" (case-insensitive). But it might be nice to allow things like "Contents" (as used in the original [Galaxy metabolomics middle pane](https://git

[2022-06-24 16:51] NickSto opened #1475 "Problems with the current table of contents generation"
# The current system

Currently we rely on [remark-toc](https://github.com/remarkjs/remark-toc), which works by parsing the Markdown for special values and then injecting the table of contents into the Markdown. Working within that system means using some messy kludges in order to achieve certain features. For instance, we want to automatically generate a ToC for every page by default. To do this

[2022-06-24 21:08] NickSto commented on #1117
Bea gave some traffic data that shed some light on some of the questions above:

/widgets/news.html is the 8th most visited page in the last month. I didn't see events.html in the top 45, though.

/galaxy/events.html and /galaxy/news.html are the 2nd and 3rd most visited pages, far above the versions with navbars.

Here are all the versions of the events and news pages in the top 45 most visited p

[2022-06-24 22:25] NickSto opened #1479 "Bare pages to implement"
The conclusion of #1385 was that we don't need to create a "bare" version (no navbar, etc) of every page right now.

But we do need to create a selection of individual bare pages. This issue collects the list of bare pages we need to create.
- [ ] *.usegalaxy.eu middle panes: #1380
- [ ] [/widgets/news.html](https://galaxyproject.eu/widgets/news.html), [/widgets/events.html](https://galaxyproject.

[2022-06-24 22:26] NickSto opened #1480 "Hub unification: Initial launch checklist"
The initial launch of the unified Hub will consist of:
- Making the NavBar subsite dropdown visible
- No more posting new news/events on .eu

## Todo list

What do we need to finish before we do that?

- [ ] Implement dynamic middle panes: #1380
- [ ] Implement bare news/events pages: #1479
- [ ] Finish subsite homepages

[2022-06-27 18:09] NickSto commented on #1479
FYI, here are usage stats on most of these bare pages:

_Originally posted by @NickSto in https://github.com/galaxyproject/galaxy-hub/issues/1117#issuecomment-1165942256_

[2022-06-29 16:18] NickSto opened #1503 "Gitter room doesn't change when browsing to a different page"
#1500 makes it so each subsite can specify which Gitter room should open when the user clicks the "Open Chat" button.

But that only sets the room on the first page load. So if a user starts at one subsite, then clicks a link and ends up on a different subsite, the Gitter room that pops up is still the one from the first subsite.

I'm not sure yet how to fix this. Even setting `window.gitter.chat.

[2022-06-30 20:40] NickSto opened #1508 "Move Hub documentation to ..the Hub"
Pages like [doc/AUTHORING.md](/galaxyproject/galaxy-hub/blob/master/doc/AUTHORING.md) should just be on the Hub, right?

[2022-06-30 22:00] NickSto commented on #1380
***Note***: I just discovered each EU Member Site has its own (apparent) middle pane, and they all seem to list news and events. Example: https://galaxyproject.eu/belgium/galaxy/

[2022-07-07 14:08] NickSto commented on #1442
Another tidbit from @hexylena: For compatibility with TeSS's scrapers, we need to make sure to use [bioschemas](https://bioschemas.org).

[2022-07-07 20:46] NickSto opened #1521 "Extraneous `<p>` inserted in first item in lists in Platform pages"
Look at the first item in each `<ul>` on [https://galaxyproject.org/use/laniakea/](https://galaxyproject.org/use/laniakea/). There's extra space below each first item because each is wrapped in a `<p>` that doesn't occur in the rest of the items. It doesn't come from the `index.md`. This happens on multiple (assumedly all) pages.

[2022-07-07 23:05] NickSto opened #1523 "Implement dynamic middle panes for EU Galaxy servers"
This is basically a subset of #1380, but I'm making a separate issue because the dynamic pages are a special effort. Here we can have a checklist for each individual page, and close it when they're all done.

|   | Server | .eu page | .org page |
|:-:|-------:|---------:|-----------|
| ✔ | [usegalaxy.eu](https://usegalaxy.eu) | [galaxy/index.md](https://usegalaxy-eu.github.io/galaxy/) | [content/b

[2022-07-12 22:47] NickSto opened #1526 "Make blank subsite homepages show default content"
Currently, when someone adds a subsite to the list in config.json, the homepage will error out until they add a main.md and cards.md to their subsite's directory. Even then, the homepage will be mostly blank.

Instead, it'd be nice if we had some default content to show. Maybe news and events cards and the current boilerplate lead.md we have for all the subsites. We could even have a default title

[2022-07-13 18:48] NickSto opened #1531 "1075 bug on /projects/vgp/"
Just noticed the #1075 issue popping up on [/projects/vgp/](https://galaxyproject.org/projects/vgp/).

It's not super apparent because there aren't any internal links on that page, but you can tell by visiting it, then using the NavBar to go to another page that *does* have internal links, then clicking any of them.

[2022-07-13 18:50] NickSto opened #1532 "1075 bug in GCC 2019 pages"
The #1075 bug seems to be happening in a bunch of pages under `/events/gcc2019/`:
- [/events/gcc2019/](https://galaxyproject.org/events/gcc2019/)
- [/events/gcc2019/venue/](https://galaxyproject.org/events/gcc2019/venue/)
- [/events/gcc2019/training/](https://galaxyproject.org/events/gcc2019/training/)
- [/events/gcc2019/abstracts/](https://galaxyproject.org/events/gcc2019/abstracts/)
- ..etc

Tho

[2022-07-13 22:14] NickSto commented on #1075
And another one: [/images/logos/](https://galaxyproject.org/images/logos/) (try clicking the "Learn" link).

[2022-07-15 13:37] NickSto opened #1537 "Allow filtering `taggedEventsPages` by subsite"
Currently you can easily create a page listing events with a certain tag with the `taggedEventsPages` key in `config.json`. But if you want only those events relevant to a certain subsite, there's not a way to specify that.

We could solve that by adding an optional `subsite` key to each entry.

[2022-07-16 05:33] NickSto opened #1540 "Improve accessibility test failure messages"
Whenever one of the main Cypress tests fails, the error message usually provides a good hint as to what went wrong.

But when an accessibility one fails, it's completely opaque, usually something like "[2 accessibility violations were detected: expected 2 to equal 0](https://github.com/galaxyproject/galaxy-hub/runs/7367243282?check_suite_focus=true#step:9:92)".

To get any clue, you have to run `c

[2022-07-17 21:29] NickSto opened #1543 "Make helper classes to improve display of headers inside divs like alerts"
A common element in static content is putting some content inside an alert `<div>`. And authors may often want to include a header line (see the top of [the current middle pane](https://raw.githubusercontent.com/galaxyproject/galaxy-hub/41b1a92ba479c554525625a6403964258375d4fb/content/usegalaxy/welcome/main.md)).

But the result contains a little too much space above the header. It also shows an a

[2022-07-21 16:52] NickSto commented on #1155
## Metadata keys
Brainstorming the sort of metadata each file will contain (with @assuntad23).

| key | description |
|-------|--------------|
| `name` | |
| `subsites` | How we group them |
| `affiliation` | Free text field - whatever they want |
| `image` | profile photo |
| `email` | |
| `phone` | |
| `website` | Personal site or whatever |
| `github` | |
| `orcid` | |
| `gitter` | |
| `matrix`

[2022-07-22 16:23] NickSto commented on #1155
## Person identifier
One of the purposes of the directory is to be able to link people across the Hub. E.g. the "contacts" on a post can be a list of identifiers linked to `Person`s. So how do we manage these identifiers?

### Option 1: An `id` key in the metadata
The naive solution would probably be to just add a metadata field named `id` to each `Person`, and make up any string there. One issue

[2022-07-28 20:38] jdavcs opened #1558 "Team listing is outdated; images on individual pages not displayed."
Two minor, non-urgent items:

1. The team page at  https://galaxyproject.org/galaxy-team/ is outdated (linked from the Galaxy Community page)
2. The image display on team member pages is broken (https://galaxyproject.org/people/john-davis/ displays this:
    `![](/galaxy-team/johndavis.jpg)`

[2022-07-28 22:32] NickSto commented on #1155
## Groups pages

Each person is able to list groups they're a part of, which will become a list of links to the pages to those groups. The flip side of that is that we can then automatically list the members of each group on the group's page. But currently the pages for these groups are scattered or nonexistent.

If we touch the groups pages we'll have to decide whether to standardize their locati

[2022-07-29 17:28] NickSto commented on #1558
Yeah, that page is so outdated, it shouldn't be linked to so prominently, and eventually we should remove or revamp it entirely.

As for the broken images, that's a symptom of moving to a modern Markdown parser, not anything specific to team member pages. It's an easy, but manual fix: #1562. But we're actively working on the Community Directory project (#1551), which will change how all the person

[2022-07-29 20:26] NickSto commented on #1442
Okay, so I wrote an initial implementation and pushed it here: #1564. The `makeJsonLd()` function in `ArticleHeader.vue` is where the rubber meets the road. Feel free to extend/improve or I can work more on it later.

Note (mostly to myself): we're using a bioschema extension to `Event` that includes a `contact` property: https://bioschemas.org/profiles/Event/0.2-DRAFT-2019_06_14

[2022-08-03 22:58] NickSto opened #1569 "What to do with .eu carousel content?"
Most of the static content on the .eu homepages and [middle panes](1380) is in their carousels. As we migrate these pages to .org, we need to figure out what to do with this content. No one's keen on carousels anymore, so we'll be putting in regular page sections. And it sounds like a lot of the content is legacy or unneeded, so we won't be keeping all of it.

As a first step, I'm charting out wha

[2022-08-05 22:04] NickSto opened #1570 "Hot reloader doesn't update content in symlinks"
Another symlink issue with the hot reloader, but a different one from #748.

Steps to reproduce:
1. Start the development server (`yarn develop`).
2. Open a page that includes an Insert that's a symlink.
    - E.g. in a forthcoming update, `/eu/`, will include the insert `content/eu/lead.md`, which is a symlink to `content/eu/common/about-galaxy.md`.
3. Edit the content in the insert.

The result

[2022-08-10 22:11] NickSto commented on #1523
Done as of #1573

[2022-08-10 22:11] #1523 closed

[2022-08-15 07:48] bgruening opened #1583 "https://galaxyproject.org/projects/ should have a list of all projects"

[2022-08-15 11:51] dannon commented on #1583
xref https://github.com/galaxyproject/galaxy-hub/pull/1429

[2022-08-17 15:17] NickSto commented on #1436
One possible solution is to take this opportunity to move to [Plausible](https://plausible.io). That's what galaxyproject.eu is currently using. They're [privacy respecting](https://plausible.io/privacy-focused-web-analytics) (they don't use cookies or record IP addresses), and it would fit our values to find a way to stop serving our visitors up to the Google machine. And it looks like it still g

[2022-08-17 15:23] NickSto commented on #1369
One solution would be to try to avoid using their embed code entirely. Looks like [this site](https://swizec.com/blog/build-privacy-focused-blazing-fast-tweet-embeds-codewithswiz-30/) did it by using the [twitter-lite](https://github.com/draftbit/twitter-lite) library to directly query the Twitter API.

[2022-08-18 00:23] NickSto opened #1591 "Allow scheduled posts"
galaxyproject.eu has a feature which allows specifying a future date for a post to be published.

We could easily add a metadata key like `publish_on` which will keep a post from being public until that date.

One issue is that currently, the site is only updated when a PR is merged. So we can't guarantee that a PR will be merged on that date. We're not unlikely to run into this, since a common us

[2022-08-18 06:09] bgruening commented on #1591
Thanks @NickSto! On EU this also works for events and we do build the site every 24h.

[2022-08-18 14:08] #1436 closed

[2022-08-18 17:20] NickSto opened #1597 "Implement LinkBox component with Dataset collection instead of a JSON file"
#1589 provides Datasets, allowing raw data to be stored in the `content` directory in yaml files.

It also gives an example of using a static GraphQL query inside a component to obtain Datasets, circumventing the inability to do a dynamic query. We could use this trick to obtain the right linkbox Dataset from a simple path passed in the props: query all linkboxes, then find the one with the right

[2022-08-19 21:12] NickSto opened #1604 "Improve accessibility"
We should spend some time using tools like https://www.accessibilitychecker.org and going through different issues it uncovers.

[2022-08-19 21:18] dannon commented on #1604
Running axe directly is going to be more reliable and maintainable here -- that's what the a11y tests we have do now.  They're intentionally somewhat limited in what they enforce, though, just as a first pass.  I'm going through Galaxy right now with devtools in https://github.com/galaxyproject/galaxy/pull/14481, and will do the same here.

[2022-08-21 22:07] #1604 closed

[2022-08-22 18:34] NickSto opened #1607 "Decide which news/events pages to implement, drop, or delete"
The [comment](/galaxyproject/galaxy-hub/issues/1480#issuecomment-1170362963) on issue #1480 lists a bunch of types of pages that .eu has beyond the [middle panes](1380) and subsite-specific news/events pages. Are all these really necessary to implement? How many of these are actually used?

I collected analytics data for each of these and compiled them in a spreadsheet, then annotated with whether

[2022-08-22 20:58] NickSto commented on #1607
With #1608 we have one solution. I'm closing unless there's a reason to revisit.

[2022-08-22 20:58] #1607 closed

[2022-08-22 21:58] NickSto opened #1609 "Implement cards.md as cards.yml instead"
Much like #1597 suggests using #1589's Dataset collection to store LinkBox data in yaml, this idea is to store the homepage cards.md as yaml instead. They're basically pure metadata with no content, so it's a more natural format.

[2022-08-23 20:48] NickSto commented on #1155
## All Contributors bot
@tnabtaf pointed out [this project](https://allcontributors.org/en) which made a bot to automatically compile a list of contributors to a repo. By default it adds an HTML table to the repo's `README.md`, but it looks like we could get it to write to a yaml file (using the `files` and `contributorTemplate` [configuration](https://allcontributors.org/docs/en/bot/configuration

[2022-08-23 21:53] NickSto opened #1612 "Show `supporters` in page footers"
.eu has a `supporters` metadata field which seems to add a "Supported by" footer with organization logos beneath.

See: https://galaxyproject.eu/posts/2022/04/24/tool-update/

In that example, the `supporters` field looks like this:
[code]
`_includes/sponsors.html` turns those keys into logo images with links to the sponsor websites. Doing such a mapping based on article metadata is tricky, as per

[2022-09-01 17:13] NickSto opened #1617 "List all IWC workflows automatically"
@mvdbeek is interested in creating a page for the IWC which lists all their [workflows](https://github.com/iwc-workflows) automatically.

We could probably just query Github when the Hub is built, enumerating the repos and maybe extracting the title of each one from its README. @assuntad23 has the Github API expertise so she'd have a better idea of how doable that is.

[2022-09-12 10:05] beatrizserrano commented on #1569
It is hopefully all included here: https://galaxyproject.org/eu/

[2022-09-12 10:30] hexylena commented on #1419
`{% bibliography %}` I've written a (rubbish) jeklly-scholar replacement in use at GTN. What happens here is that `{% cite %}` is used on a page. scholar keeps track of every page that uses cite, and then when bibliography is called, builds it from that list.

[2022-09-12 10:35] hexylena commented on #1385
target=blank was a mistake that never should have been invented. If I wanted it in a new tab, I would've chosen that. We did this to intentionally keep people on the galaxy page.

You could hide the header with js/css maybe, it would be cheaper than doing multiple pages. We send a cache busting key with the page load that you could use to check.

[2022-09-12 20:12] NickSto commented on #1419
@hexylena Thanks for the info! I guess it auto-discovers all .bib files in the repo somehow, so it doesn't have to explicitly reference them in the config file?

[2022-09-12 20:27] NickSto commented on #1385
@hexylena Hmm okay, this is good to know, thanks for sharing your preference. I agree that looking into doing this with JS/CSS would be good. Duplicating every page could be expensive.

[2022-09-13 10:38] hexylena commented on #1419
Yep, exactly. You can set a search path in the config.yml for the plugin, or I think there's some default value otherwise.

It should be very fast to discover all bib files, that's the solution we've taken in the GTN, rather than making it configurable since that's not really useful.

[2022-09-13 15:16] NickSto commented on #1385
I don't even think the general argument for/against `target=_blank` is that relevant here. For internal links within the Hub, clearly it'd be nicer for people to be able to browse the site within the Galaxy middle pane, instead of getting kicked out to a separate tab. It's just a little tricky to do, so the question is how much you want it. And for the EU subsite, it's about the preference of the

[2022-09-14 20:27] NickSto opened #1632 "Gitter Cypress test intermittently failing"
The test "Opens gitter sidecar and the iframe is injected" keeps failing when run on Github, but only sometimes. I also haven't been able to get it to ever fail when I run it locally. The Gitter button also has always worked in production, even if the PR failed sometimes.

The error is:
[code]

I'm guessing it's an issue with maybe some timing between the Cypress test in the Github environment and

[2022-09-15 18:01] NickSto opened #1635 "Subsite-relative NavBar links don't work when inherited as defaults"
Two features of the customizable NavBar currently interact to produce a surprising result.

First, we have the ability to define a link as being `relativeTo` the subsite. So the following, in the `content/eu/navbar.yml`, will create a NavBar link to `/eu/news/`:
[code]

Then, there's the ability to inherit default settings. The `global` navbar is the default, and for each top-level section of a su

[2022-09-15 18:02] NickSto commented on #1632
Mitigated by dropping the test in #1633. I'll close this for now.

[2022-09-15 18:02] #1632 closed

[2022-09-21 14:54] hexylena commented on #1442
Fantastic! I'll have a look into it, maybe we can discuss during EGD @NickSto

[2022-09-22 14:15] #99 closed

[2022-09-22 14:18] #110 closed

[2022-09-22 14:18] #189 closed

[2022-09-22 14:26] dannon commented on #206
Gridsome handles this pretty well and aborts with a message saying what's wrong (when using `develop`)

[2022-09-22 14:26] #206 closed

[2022-09-22 14:30] dannon commented on #38
Almost all new content is added in this way now, structured yaml frontmatter that gets aggregated into feeds, etc.

[2022-09-22 14:30] #38 closed

[2022-09-22 22:26] NickSto commented on #1117
Feature
----------

### Filtering posts by tag

It looks like you can filter posts by tag with query parameters like so: https://galaxyproject.eu/news?tag=UseCase

[2022-09-23 23:06] NickSto commented on #751
I think we could create a new Collection with the [Data Store API](https://gridsome.org/docs/data-store-api/), name it `UnifiedArticle` or something, and copy the data from each `Article` and `VueArticle` to it.
\- Ideally we'd rename `Article` to `PlainArticle`, then name the new Collection `Article`, but we're probably in too deep to change such a fundamental interface.

It's possible there coul

[2022-09-23 23:29] NickSto commented on #1155
How to connect identifiers with objects from other Collections?
----------------------------------------------------------------------------------
It's great that this project includes creating actual, structured objects for things like people, groups, and institutes. But a fundamental issue I keep running into is that we want to be able to refer to them by simple identifiers like `assuntad23` or

[2022-10-06 14:55] logankilpatrick opened #1664 "Add a license for Galaxy-Hub"
Hey folks! I noticed that this repo does not have a top-level license. Would it be possible to add an OSI approved one?

[2022-10-13 08:18] rajnish254 commented on #1583
kindly Assign me that issue
Thanks

[2022-10-13 08:19] rajnish254 commented on #1508
kindly Assign me that issue
Thanks

[2022-10-13 11:22] hexylena commented on #1508
@NickSto solved this one six days ago, sorry @rajnish254

[2022-10-13 11:22] #1508 closed

[2022-10-13 19:49] NickSto commented on #1508
Oops, forgot there was an issue for this!

[2022-10-17 22:24] bgruening commented on #1664
Yes, good point. We use MIT for most of our projects, so we should make this explicit here as well.

Thanks!

[2022-10-17 22:56] dannon commented on #1664
Does MIT make sense for all the content, or is something like CC more appropriate there?

[2022-10-17 23:46] fubar2 commented on #1664
Oddly enough, AFAIK, CC is not OSI approved - apparently because it's not intended for source code!

In the long run, an OSI approved license might be a better long term strategic choice?

[2022-10-18 00:49] dannon commented on #1664
Totally agreed on simply using MIT for the platform code -- what I was trying to tease out is whether or not we need to have two separate licenses.  One for the platform (the javascript, vue, etc.), and one for the non-sourcecode markdown content in `content`?

If it's appropriate to say the content in `content` is MIT licensed, then I'm happy to keep it simple!

[2022-10-18 01:46] fubar2 commented on #1664
Decision boils down to whether the minor complication of a separate (non-OSI-approved!) license for marked up text and images is a good strategic choice. Worth some complexity if it make things easier for contributors and more useful for users going forward?

Suggestion: maybe start with MIT for the code, and defer a decision on the rest until contributors have had an opportunity to express their

[2022-10-18 08:56] hexylena commented on #1664
Maybe look at the GTN as prior art here :)

[2022-10-18 09:50] fubar2 commented on #1664
Thanks for confirming @dannon's solution @hexylena. Sounds perfect to me.

[2022-10-18 12:06] dannon commented on #1664
Thanks for the discussion and pointers to GTN's license configuration -- I've opened #1680 which I'll leave in draft for a while for feedback or any other clarification.

[2022-10-20 19:21] NickSto opened #1686 "Change "Projects" to "Applications" in the subsite navbars too"
#1679 renamed the "Projects" navbar item to "Applications", but only for the Global subsite.

I think we want to propagate this change to the other subsites.

One thing to keep in mind is that the new name is significantly longer, so it takes more room in the navbar. The navbar for several subsites was already getting crowded. In some subsites, the items were actually already overflowing the navba

[2022-10-20 19:21] NickSto commented on #1686
ping @beatrizserrano

[2022-10-24 18:41] NickSto opened #1690 "Put some redirects in Nginx?"
We actually already have a bunch of redirects defined at the Nginx level: https://github.com/galaxyproject/infrastructure-playbook/blob/main/env/galaxy/templates/nginx/galaxyproject.j2

We could put more of our existing redirects into the Nginx config.

Pros:
Each Gridsome-level redirect technically generates an additional page. Offloading it to Nginx could reduce our build times (but we'd have to

[2022-10-25 19:44] NickSto opened #1693 "Fix issue with ParentArticle images resolver"
#1692 changes every dynamic page to query for `ParentArticle`s instead of `Article`s except `/careers/`. That page breaks when you convert the query to `allParentArticle` because of an issue with the `images` metadata field. This issue only comes up here because it's the only dynamic page to make use of the `images` field.

I think this is a sign that there's an issue with how the images resolver

[2022-10-26 02:57] #751 closed

[2022-10-26 22:32] NickSto opened #1696 "Use structured author data from EU"
usegalaxy-eu/website#1055 adds a lot of very useful structured data about the authors of European news posts. We should make use of it.

There are two issues currently in the way:

1. We currently don't make use of structured author data. `authors` is currently a raw string. Making use of the full data will probably have to wait for the Community Directory implementation to be decided (see #1551)

[2022-10-26 23:02] NickSto commented on #1117
Feature
----------

### The `doi` metadata field

It looks like when a post includes a `doi` field, they generate a link to the article next to the tags in the header. See: https://galaxyproject.eu/posts/2022/05/27/paper-tnbc/

[2022-10-27 00:02] NickSto opened #1697 "New ParentArticles don't show up in dynamic pages when using the development server"
`ParentArticle`s were introduced in #1692 to allow both `Article`s and `VueArticle`s to be listed in dynamic pages. It succeeds in this ([mostly](1693)), but it looks like in order to get new articles to show up on those pages you need to restart the development server.

For some reason, the way `ParentArticle`s are created (in `nodeModifier.processArticleType()`) isn't registering when the develo

[2022-10-31 20:37] bgruening opened #1706 "Offer event and news templates"
I think it would be nice to offer some `news` and `event` templates. Those could be filled with examples and all metadata tags that the hub is offering to assist in writing those assents.

The templates can be added to the repo to offer simple copy and paste to create an initial event/news and maybe added to the Makefile.

[2022-10-31 23:20] NickSto commented on #1706
There actually are example files which show every possible metadata field (see [here](https://raw.githubusercontent.com/galaxyproject/galaxy-hub/master/content/0examples/non-vue/index.md)). These aren't exactly written to be good starting templates for authors but they at least show the possible fields.

I agree that it would be nice to have template files made for that purpose, though there are s

[2022-10-31 23:54] NickSto opened #1708 "Finish porting .eu content - fix auto-imported posts"
With #1707, all news and events posts from .eu are now present on .org. But since we didn't go through each of those to make sure they display properly, there will be a lot of display issues. There's still a lot of work to do to get them to work properly. Some of it could be automated but I don't think all of it can be.

## Missing features

.eu used the Liquid template engine, which allowed inser

[2022-10-31 23:57] NickSto opened #1709 "Finish porting .eu content - missing pages"
With #1707 the .eu events and news posts are now all here. But the odd one-off pages like /people or /about aren't. Those still need to be migrated.

[2022-11-02 00:05] fubar2 commented on #1664
Thanks for merging @dannon
That makes this issue completed AFAIK - time to close?

[2022-11-02 00:09] dannon commented on #1664
Yep, thanks everyone!

[2022-11-02 00:09] #1664 closed

[2022-11-02 00:12] natefoo opened #1714 "List formatting weirdness"
Using a 4-space indent to add paragraphs in list items does some weird stuff:

1. Paragraph spacing is almost the same as line spacing inside a paragraph, which makes consecutive paragraphs hard to read.
2. There's no space after the last paragraph, before the next list item, which is also tough to read.
3. Using a `<br/>` between paragraphs works, but a `<br/>` after a code block renders as its o

[2022-11-02 08:18] hexylena commented on #1714
It shouldn't be 4 spaces though, right? it should be aligned with the text of the list element:

[code]

instead use

[code]

[2022-11-02 14:32] hexylena commented on #1436
EU hosts one! https://plausible.galaxyproject.eu/training.galaxyproject.org it would work for us :)

[2022-11-02 14:33] hexylena opened #1716 "Ensure google analytics not shown to EU viewers"
since the hub currently uses google tag manager with all visitors.

xref #1436

[2022-11-03 00:08] natefoo commented on #1714
[The original "spec"](https://daringfireball.net/projects/markdown/syntax#list) (which isn't really a spec, but whatever) says:

The [GFM spec](https://github.github.com/gfm/#list-items) says it should be aligned but doesn't explicitly discuss over-indenting, just under-indenting. The GH example I put in the original comment is using 4 and renders properly. But you're right that by that spec it sh

[2022-11-09 13:42] bebatut opened #1725 "Galactic Career Center - Link to the Bioinformatics training officer not working"
The link to the "Bioinformatics training officer" offer is not working there: https://galaxyproject.org/careers/

 ![image](https://user-images.githubusercontent.com/1842467/200845377-2fc8ddd9-525a-4d28-a0f4-cd32e9b94120.png)

[2022-11-09 13:46] beatrizserrano commented on #1725
isn't it because the `external_url` is missing?

[2022-11-09 13:49] bebatut commented on #1725
Should it not work with internal content if no external_url?

[2022-11-09 13:56] bebatut commented on #1725
There is an internal page: https://galaxyproject.org/careers/2022-11-ufr-training/

[2022-11-09 13:59] beatrizserrano commented on #1725
Oh, I see! then maybe that should be the link in the `external_url`? I don't think I've ever created an internal page, it was always link to external resources

[2022-11-09 14:05] dannon commented on #1725
Yeah, if there's no external_url the intent is that we link to the internal one, just like we do for events, etc.  Sounds like a bug, I'll take a quick look.

[2022-11-09 16:47] #1725 closed

[2022-11-09 17:56] bebatut commented on #1725
Thanks @dannon!

[2022-11-09 18:18] dannon commented on #1725
Thanks for reporting the bug!  :)

[2022-11-15 11:26] ElectronicBlueberry opened #1731 "Search parameters are redirected"
This link should lead to an alternate view of the ESG page: https://galaxyproject.org/projects/esg?solo=true

Instead it is redirected to the default view. Upon further inspection, all URLs containing search parameters are redirected with a 302 response. I can not reproduce this behavior locally, even with a production build, so I suspect this may have to do with the nginx configuration.

[2022-11-15 13:35] dannon commented on #1731
In some quick testing it looks like it's the lack of a trailing slash causing the issue; https://galaxyproject.org/projects/esg/?solo=true works fine.  My guess is nginx trying to append slashes to the end of urls.

[2022-11-15 14:22] stain opened #1734 "Add funding info for EuroScienceGateway"
Add to towards bottom or so of https://galaxyproject.org/projects/esg/

Something like:

[2022-11-15 21:24] bgruening commented on #1734
@ElectronicBlueberry @itisAliRH can you please try to add this, thanks.

[2022-11-15 21:47] bgruening commented on #1734
@stain please also look at https://github.com/galaxyproject/galaxy-hub/pull/1732/files

[2022-11-16 10:18] bgruening commented on #1731
Who is in charge of the nginx? Is that @natefoo?

[2022-11-16 10:35] ElectronicBlueberry commented on #1731
I could try changing all the internal links to contain a trailing slash

[2022-11-16 14:02] dannon commented on #1731
Yeah, using slashes as appropriate on the URLs is a fine quickfix.

Here's the configuration for galaxyproject.org if you want to take a look:
https://github.com/galaxyproject/infrastructure-playbook/blob/main/env/galaxy/templates/nginx/galaxyproject.j2

[2022-11-16 14:51] natefoo commented on #1731
It seems odd we should need to do the redirect to append a `/` in the proxy - I've never seen an application not handle this correctly.

[2022-11-16 18:09] dannon commented on #1731
Is the 302 actually coming from aws?

![image](https://user-images.githubusercontent.com/155398/202259371-af1f807a-e185-4572-88fa-133a3a738971.png)

[2022-11-16 23:30] natefoo commented on #1731
Good catch, yes, this is indeed S3. Specifically I believe it's the automatic index.html feature for static website serving. Here is a similar discussion: https://github.com/jariz/gatsby-plugin-s3/issues/51

Is there a reason we didn't just make this served by CloudFront? I am not sure if it would have the same issue (but could be addressed with the Lambda@Edge rule there, but in general it'd prob

[2022-11-17 14:52] dannon commented on #1731
No specific reason for picking this model; I think that's just what we already had set up for something else?

I originally really wanted to just use netlify but the build is too big for my free plan; I can revisit options.  There was a cloudflare version I wanted to try, too.

[2022-11-17 19:07] natefoo commented on #1731
Ok, just let me know. I have 4 different sites using CloudFront now so this should be relatively straightforward, except maybe for getting certs on the root of a domain not in Route 53.

[2022-11-17 19:59] dannon commented on #1731
@natefoo Yeah, if it'd be easy enough then let's just do that and swap over; no need to investigate other options if you're happy with CloudFront.  Just let me know what I need to do -- I guess we'd just need to tweak the publishing destination for the github action here (at least as far as changes on the hub repo side)?

[2022-11-17 21:13] natefoo commented on #1731
No, that's the best part, it'll just serve the bucket, so you shouldn't have to change anything on the backend.

There will unfortunately be some downtime as DNS propagates and for domain validation to get the cert.

[2022-11-30 13:11] dannon commented on #1734
Looks like this was addressed in #1732

[2022-11-30 13:11] #1734 closed